.portfolio-details-page {
    .banner {
        .layer {
            padding: 120px 0px 70px;
            .banner_heading {
                font-size: 45px;
                letter-spacing: 30px;
            }
            .gettoknow {
                letter-spacing: 8px;
                margin-left: 0px;
            }
        }
    }
    .portfolio-details {
        padding: 50px 0px;
    }
    .portfolio_details_two_btns {
        background: linear-gradient(to bottom, #dc5d45 0%, #dc5d45 50%, #e27763 51%, #e27763 100%);
        .portfolio_details_previous {
            text-align: center;
        }
        .portfolio_details_next {
            text-align: center;
        }
    }
}
