#slider {
    .image-caption {
       
        h1.slider-heading {
            font-size: 50px;
        }
    }
}

.our-history {
    padding: 50px 0;
    .history-text {
        padding-top: 50px;
    }
}

.counters {
    padding: 30px 0px 30px;
    .icon {
        margin-top: 20px;
        display: block;
        float: left;
    }
    .count-number {
        display: block;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 0px;
    }
    .count-name {
        display: block;
        text-align: center;
    }
}

.services {
    padding: 50px 0px;
    .services-text {
        .bg2 {
            margin-right: -56px;
            &.hr-stock-bg2 {
                margin-left: -58px;
            }
        }
    }
    .service-mediaquery {
        z-index: -1;
        margin-bottom: 30px;
    }
}

.promo-box {
    .layer {
        padding: 120px 0px;
        h1.creative-head {
            letter-spacing: 40px;
        }
    }
}

.portfolio {
    padding: 50px 0px;
}

.cta {
    h1.buynow-head {
        font-size: 30px !important;
    }
    .buynow-button {
        .btn-default {
            margin-top: 0px;
        }
    }
}

.meet-our-team {
    padding: 50px 0px;
    .team-content {
        padding: 120px 18px !important;
        .team-title {
            font-size: 20px;
        }
        .team-designation {
            font-size: 13px;
        }
    }
}

.blog-post {
    padding: 40px 0px;
    .item {
        .blog-content {
            padding: 55px 48px;
        }
    }
}

.pricing-plan {
    padding: 50px 0px;
}

.video-background {
    .layer {
        padding: 200px 0px;
        .video {
            ul {
                li {
                    a {
                        width: 90px;
                        height: 90px;
                        padding-top: 28px;
                    }
                }
                h1 {
                    letter-spacing: 0.8em !important;
                }
            }
        }
    }
}

.clients {
    padding: 50px 0px;
}

.get-in-touch {
    .contactus-image {}
    .contact-text {
        padding: 50px 0px 0px;
    }
    .contact-form {
        padding-bottom: 50px;
        margin-top: 0px;
        .form-group {
            margin-right: 0px !important;
        }
    }
}

.footer {
    .footer-image-girds {
        img {
            margin: 0px 9px 10px 0px !important;
            width: 110px !important;
        }
    }
    .copyright-container {
        margin-top: 50px;
    }
}
