#slider {
    .image-caption {
        top:55% !important;
        h1.slider-heading {
            font-size: 50px;
        }
    }
}

.our-history {
    padding: 40px 0px;
    .history-text {
        padding-top: 0px;
        h6 {
            margin-top: 0px;
        }
    }
}

.counters {
    padding: 60px 0px;
    .icon {
        margin-top: 20px;
        display: block;
        float: left;
    }
    .count-number {
        display: block;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 0px;
    }
    .count-name {
        display: block;
        text-align: center;
    }
}

.services {
    padding: 40px 0px 10px;
    .services-text {
        padding-top: 0px !important;
        h6 {
            margin-top: 0px;
        }
        .bg2 {
            margin-right: -50px;
            &.stock-bg2 {
                margin-left: -52px;
            }
        }
    }
    .service-mediaquery {
        z-index: -1;
        margin-bottom: 50px;
    }
}

.promo-box {
    .layer {
        padding: 120px 0px;
        h6{
            line-height: 20px;
        }
        h1.creative-head {
            letter-spacing: 26px;
        }
    }
}

.portfolio {
    padding: 40px 0px;
}

.cta {
    h1.buynow-head {
        font-size: 38px;
        margin: 0px 0px 20px 0px
    }
    .buynow-button {
        text-align: center;
    }
}

.meet-our-team {
    padding: 40px 0px;
    .team-content {
        padding: 150px 18px !important;
        .team-title {
            font-size: 20px;
        }
        .team-designation {
            font-size: 13px;
        }
    }
}

.blog-post {
    padding: 40px 0px;
    .item {
        .blog-content {
            padding: 25px 48px;
            a {
                .blog-title {
                    letter-spacing: 5px;
                    font-size: 16px;
                }
            }
        }
    }
}

.pricing-plan {
    padding: 40px 0px;
}

.video-background {
    .layer {
        padding: 100px 0px;
        .video {
            ul {
                li {
                    a {
                        width: 80px;
                        height: 80px;
                        padding-top: 24px;
                    }
                }
            }
        }
    }
}

.clients {
    padding: 40px 0px;
}

.get-in-touch {
    .contact-text {
        padding: 50px 0px 0px;
    }
    .contact-form {
        padding-bottom: 50px;
        margin-top: 0px;
        .form-group {
            margin-right: 0px !important;
        }
    }
}

.footer {
    .footer-image-girds {
        img {
            margin: 0px 10px 10px 0px !important;
            width: 100px !important;
        }
    }
}
