.header {
    .top-container {
        /*position: relative;*/
        background-color: transparent;
        margin-top: 0px;
        .navbar-primary.affix,
        .navbar-primary.affix-top {
            .navbar-collapse {
                .nav {
                    &.navbar-nav {
                        background: #fff;
                        margin-top: 0px;
                        padding-top: 10px;
                        li {
                            margin-bottom: 10px;
                            margin-right: 0px !important;
                            padding-top: 10px;
                            a {
                                color: #000;
                            }
                        }
                        .dropdown {
                            padding-left: 20px !important;
                            padding-right: 0px !important;
                            a {
                                padding-left: 0px !important;
                            }
                        }
                    }
                    &.underline {
                        li {
                            &:hover,
                            &:focus,
                            &.active {
                                >a {
                                    border-bottom: 2px solid $primary_bg !important;
                                    color: $primary_bg;
                                }
                            }
                        }
                        .dropdown {
                            .dropdown-menu {
                                box-shadow: none !important;
                                li {
                                    &:hover,
                                    &:focus,
                                    &.active {
                                        >a {
                                            border-bottom: 2px solid $primary_bg !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .navbar-primary.affix,
        .navbar-primary.affix-top {
            .navbar-header {
                padding: 10px;
            }
            .navbar-collapse {
                .navbar-nav {
                    li {
                        a {
                            padding-bottom: 5px !important;
                        }
                    }
                }
            }
        }
        .navbar-primary.affix {
            .navbar-collapse {
                .nav {
                    &.navbar-nav {
                        li {
                            margin-bottom: 10px;
                            a {
                                padding-top: 10px !important;
                            }
                        }
                    }
                    &.underline {
                        li {
                            &:hover,
                            &:focus,
                            &.active {
                                >a {
                                    border-bottom: 2px solid $primary_bg !important;
                                    padding-bottom: 5px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.testimonials {
    .layer {
        padding: 50px 0px 0px;
        #testimonial-slider {
            .owl-controls {
                margin-top: 0px;
                .owl-buttons {
                    .owl-prev,
                    .owl-next {
                        position: relative;
                        top: -20%;
                        width: 30px;
                        height: 24px;
                    }
                    .owl-prev {
                        background-position: -36px -109px;
                        left: 0px;
                        &:hover {
                            background-position: -36px -182px;
                        }
                    }
                    .owl-next {
                        background-position: -69px -109px;
                        right: 0px;
                        &:hover {
                            background-position: -70px -182px;
                        }
                    }
                }
            }
        }
    }
}

.testimonials.testimonials-orange-bg {
    .layer {
        #testimonial-slider {
            .testimonial {
                margin-top: 0px;
            }
            .owl-controls {
                .owl-buttons {
                    .owl-prev,
                    .owl-next {
                        position: relative;
                        top: -20%;
                        width: 30px;
                        height: 24px;
                    }
                    .owl-prev {
                        background-position: -175px -204px;
                        left: 0px;
                        &:hover {
                            background-position: -36px -182px;
                        }
                    }
                    .owl-next {
                        background-position: -209px -204px;
                        right: 0px;
                        &:hover {
                            background-position: -70px -182px;
                        }
                    }
                }
                .owl-pagination {
                    text-align: left;
                    width: 123px !important;
                }
            }
        }
    }
}

.testimonials.testimonials-bg-color {
    .layer {
        #testimonial-slider {
            .owl-controls {
                .owl-pagination {
                    width: 140px;
                }
                .owl-buttons {
                    .owl-prev,
                    .owl-next {
                        position: relative;
                        top: -20%;
                        width: 40px;
                        height: 31px;
                    }
                    .owl-prev {
                        background-position: -167px -83px;
                        left: 0px;
                        &:hover {
                            background-position: -167px -133px;
                        }
                    }
                    .owl-next {
                        background-position: -210px -83px;
                        right: 0px;
                        &:hover {
                            background-position: -210px -133px;
                        }
                    }
                }
            }
        }
    }
}
