.header {
    .top-container {
        background-color: transparent !important;
        margin-top: 0px;
        .navbar-primary.affix,
        .navbar-primary.affix-top {
            .navbar-collapse {
                .nav {
                    &.navbar-nav {
                        background: #fff;
                        margin-top: 0px;
                        padding-top: 10px;
                        li {
                            margin-bottom: 20px;
                            margin-right: 0px !important;
                            a {
                                color: #000;
                            }
                        }
                        .dropdown {
                            padding-left: 20px !important;
                            padding-right: 0px !important;
                            li {
                                margin-bottom: 0px;
                            }
                            a {
                                padding-left: 0px !important;
                            }
                        }
                    }
                    &.underline {
                        li {
                            &:hover,
                            &:focus,
                            &.active {
                                >a {
                                    border-bottom: 2px solid $primary_bg !important;
                                    color: $primary_bg;
                                }
                            }
                        }
                        .dropdown {
                            .dropdown-menu {
                                box-shadow: none !important;
                                li {
                                    &:hover,
                                    &:focus,
                                    &.active {
                                        >a {
                                            border-bottom: 2px solid $primary_bg !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .navbar-primary.affix,
        .navbar-primary.affix-top {
            .navbar-header {
                padding: 10px;
                .logo-image {
                    margin-left: 0px;
                }
            }
            .navbar-collapse {
                .navbar-nav {
                    li {
                        a {
                            padding-bottom: 5px !important;
                        }
                    }
                }
            }
        }
        .navbar-primary.affix {
            .navbar-collapse {
                .nav {
                    &.navbar-nav {
                        li {
                            margin-bottom: 10px;
                            a {
                                padding-top: 10px !important;
                            }
                        }
                    }
                    &.underline {
                        li {
                            &:hover,
                            &:focus,
                            &.active {
                                >a {
                                    border-bottom: 2px solid $primary_bg !important;
                                    padding-bottom: 5px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.testimonials {
    .layer {
        padding: 50px 0px 0px;
        #testimonial-slider {
            .testimonial {
                .testimonial-content {
                    .pic {
                        border-bottom: none;
                        width: auto;
                    }
                    .title {
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}

.testimonials.testimonials-orange-bg {
    .layer {
        #testimonial-slider {
            .testimonial {
                margin-top: 0px;
            }
            .owl-controls {
                .owl-pagination {
                    width: 100%;
                }
            }
        }
    }
}
