.home-v2 {
    .how-it-works {
        padding: 50px 0px;
        .v2-services {
            .v2-services-text {
                padding-top: 0px;
                h6 {
                    line-height: 1.4em;
                }
            }
        }
    }
    .core-features {
        .layer {
            padding: 50px 0px 30px;
            .icon {
                float: left;
                margin-right: 20px;
                margin-bottom: 40px;
            }
            hr {
                display: none;
            }
        }
    }
    .extra-core-features {
        padding: 50px 0px 50px;
        .features-div {
            padding: 20px;
        }
        .respons-text-align {
            text-align: center;
        }
    }
    .creative-mind {
        padding: 50px 0px 80px;
        .creative-mind-text {
            padding: 0px;
            h1 {
                letter-spacing: 15px;
            }
        }
    }
    .free-trial {
        padding: 50px 0px 70px;
    }
    .faq {
        padding: 50px 0px;
        .faq-text {
            padding: 50px 130px 50px 130px;
        }
        .panel-group {
            margin-bottom: 40px;
        }
    }
    .home-page-v2-contact {
        .layer {
            padding: 50px 0px;
        }
    }
    .counters-with-bg-image{
        padding: 0px;
        .layer {
            padding: 50px 0px;
        }
    }
}
