/* ------------------------------------------- 
5 Home page version 4 
---------------------------------------------- */ 

/* ---------------- 
5.1 Banner 
------------------- */
.home-v4 .header{
        .top-container{
            .navbar-nav{
                li.search-icon{
                    display: none;
                }
            }
        }
    }
/* ---------------- 
5.2 Banner 
------------------- */

.home-v4 .home-page-v2-banner {
    background-color: #323232 !important;
    .image-caption-1 {
        .banner-caption {
            img {
                opacity: 1 !important;
                position: relative;
                width: auto !important;
            }
            .homev4-banner-head {
                letter-spacing: 0.07em;
                span {
                    font-family: 'poppinslight';
                    font-size: 160px !important;
                    color: #fff;
                    opacity: 0.5;
                    >.bold {
                        font-family: 'poppinsbold';
                    }
                }
            }
            h6 {
                opacity: 0.5;
                @include tracking(900);
            }
            .btn-default {
                padding: 0 30px;
            }
        }
    }
    img {
        opacity: 0.6;
    }
}


/* ---------------
5.3 About What We Do 
------------------ */

.home-v4 .about_what_we_do {
    padding: 100px 0px;
    background: $primary_bg;
    .what_we_do_points {
        .creative_design {
            border: 1px solid #d2634f;
            padding: 68px 20px 45px;
            h1 {
                color: #fff;
                margin-top: 40px;
            }
            hr {
                border-top: 3px solid #fff;
                width: 30px;
            }
            p {
                color: #fff;
                margin-bottom: 0px;
            }
            &:hover {
                background: #d2634f;
                a {
                    >i {
                        &:before {
                            border: 1px solid #fff;
                        }
                        border: 1px solid #fff;
                        background: #fff;
                        color: $primary_bg;
                    }
                }
                h1 {
                    color: #fff;
                }
            }
        }
    }
}


/* ---------------
5.4 How it Works 
------------------ */

.home-v4 .how-it-works {
    padding: 100px 0px;
    .v2-services {
        margin-top: 30px;
        .responsive-col1-change {
            z-index: 1;
        }
        .responsive-col3-change {
            z-index: -1;
        }
        .v2-services-text {
            padding-top: 60px;
            z-index: 1000;
        }
        .image-number {
            position: absolute;
            top: 30px;
            bottom: 0;
            left: 125px;
            margin-top: 10px;
        }
        .image-number-right-align {
            position: absolute;
            top: 30px;
            bottom: 0;
            right: 125px;
            margin-top: 10px;
        }
        span {
            color: #fff;
            border: 1px solid #fff;
            font-family: 'oswaldlight';
            font-size: 39px;
            border-radius: 50%;
            padding: 15px 20px 10px 20px;
            letter-spacing: 0px;
            webkit-transform: rotate(270deg);
            -moz-transform: rotate(270deg);
            -ms-transform: rotate(270deg);
            -o-transform: rotate(270deg);
            transform: rotate(270deg);
            display: inline-block;
        }
        .number-top-hr {
            margin-bottom: 40px;
            webkit-transform: rotate(270deg);
            -moz-transform: rotate(270deg);
            -ms-transform: rotate(270deg);
            -o-transform: rotate(270deg);
            transform: rotate(270deg);
        }
        hr {
            border-top: 1px solid #fff;
            width: 50px;
            margin-top: 40px;
            webkit-transform: rotate(270deg);
            -moz-transform: rotate(270deg);
            -ms-transform: rotate(270deg);
            -o-transform: rotate(270deg);
            transform: rotate(270deg);
        }
        .image {
            img {
                display: inline-block;
            }
            &:before {
                content: '';
                width: 195px;
                height: 291px;
                background: #f7f7f7;
                display: block;
                position: absolute;
                right: -60px;
                top: 20px;
                z-index: -1;
            }
            &.shadow-image-right {
                &:before {
                    left: -62px;
                }
            }
        }
    }
}


/*  ---------------
5.5 Core Features 
 ------------------ */

.home-v4 .core-features {
    background: url("../images/1920x1000.png");
    background-size: 100% 100%;
    .layer {
        background-color: rgba(50, 50, 50, 0.7);
        padding: 100px 0px;
        .features-div {
            padding: 115px 0px 0px;
        }
        .core-image-aling {
            text-align: right;
            img {
                display: inline-block;
            }
        }
    }
}


/* ------------------
5.6 Extra Core Features 
------------------ */

.home-v4 .extra-core-features {
    padding: 0px;
    .features-div {
        padding: 130px 0px 70px;
        .extra-core-features-hr {
            width: 60px;
            border-top: 1px solid $primary_bg;
            display: inline-block;
            margin-top: 10px;
            margin-bottom: 50px;
        }
        .features-list {
            .icon {
                font-size: 30px;
                color: $primary_bg;
                border: 1px solid $primary_bg;
                padding: 16px 19px 10px 19px;
                display: inline-block;
            }
            h1 {
                margin-top: 30px;
            }
            p {
                margin-bottom: 50px;
            }
        }
    }
    .extra-core-features-image {
        padding-left: 0px;
        img {
            display: block;
            width: 100%;
        }
    }
}


/* ------------------
5.7 Testimonials 
------------------ */

.home-v4 .testimonials.testimonials-orange-bg {
    background: url("../images/1920x600.png") no-repeat;
    background-size: 100% 100%;
    #testimonial-slider {
        .testimonial {
            .pic {
                border-bottom: none !important;
                img {
                    border: 6px solid #fff !important;
                    margin-bottom: 0px !important;
                }
            }
        }
    }
}


/* ------------------
5.8 Creative Mind 
------------------ */

.home-v4 .creative-mind {
    .creative-mind-text {
        background: url('../images/home-v4-creative-mind-bg.jpg');
        background-size: 100% auto;
        background-position: center center;
        background-repeat: no-repeat;
    }
}


/* ------------------
5.9 Contact Form 
------------------ */

.home-v4 .home-page-v2-contact {
    background: url("../images/1920x1080.png");
    background-size: 100% 100%;
    .layer {
        background-color: rgba(50, 50, 50, 0.8);
        .home-page-v2-contact-text {
            hr {
                border-top: 1px solid $primary_bg;
                width: 70px;
                margin-top: 20px;
            }
        }
    }
}


/* ------------------
5.10 Clients 
------------------ */

.home-v4 .clients {
    .client-text {
        hr {
            border-top: 1px solid $primary_bg;
            width: 70px;
            margin-top: 20px;
        }
    }
}


/* ------------------
5.11 Counters 
------------------ */

.home-v4 .counters-with-bg-image {
    background: url("../images/1920x410.png") no-repeat;
    .layer {
        background-color: rgba(50, 50, 50, 0.5);
    }
}


/* ------------------
5.12 Meet Our Team 
------------------ */

.home-v4 .meet-our-team {
    .team-text {
        hr {
            border-top: 1px solid $primary_bg;
            width: 70px;
            margin-top: 20px;
        }
    }
}
