/* --------------------------------------------------
6 Home page version 5
----------------------------------------------------- */


/* ---------------------------
6.1 Header Top Container 
--------------------------- */

.home-v5 .top-container {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 20px;
    .navbar-nav {
        li.search-icon {
            display: none;
        }
    }
}


/* ---------------------------
6.2 Banner  
--------------------------- */

.home-v5 .home-page-v2-banner {
    background-color: #323232;
    .image-caption-1 {
        h6 {
            margin-bottom: 0px;
        }
        p {
            color: #fff;
            font-size: 16px;
            margin-top: 10px;
        }
        .btn-default {
            border: 2px solid #fff;
            padding: 0 35px;
        }
    }
    img {
        opacity: 0.6;
    }
}


/* ---------------------------
6.3 How it Works 
--------------------------- */

.home-v5 .how-it-works {
    .how-it-works-text {
        h6 {
            color: $primary_bg;
        }
        p {
            margin-bottom: 40px;
            text-align: justify;
            -moz-text-align-last: center;
            text-align-last: center;
        }
    }
}


/* ---------------------------
6.4 Booss Demos 
--------------------------- */

.home-v5 .booss-demos {
    padding: 100px 0px 28px;
    background: #f7f7f7;
    img {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 3px;
    }
    .booss-demo-text {
        h6 {
            color: $primary_bg;
        }
        p {
            margin-bottom: 40px;
        }
    }
    .booss-demo-img-text {
        margin-top: 43px;
        margin-bottom: 60px;
        @include tracking(400);
        line-height: 36px;
    }
}


/* ---------------------------
6.5 Work Process 
--------------------------- */

.home-v5 .work_process {
    background: url("../images/1920x646.png") no-repeat;
    background-size: 100% 100%;
    padding: 0;
    .layer {
        background-color: rgba(50, 50, 50, 0.6);
        padding: 100px 0px 86px;
        .work_process_text {
            h6 {
                color: #fff;
            }
            h1 {
                color: #fff;
            }
            p {
                color: #fff;
            }
        }
        .work_process_order {
            h1 {
                color: #fff;
                @include tracking(400);
                line-height: 36px;
            }
            p {
                color: #fff;
            }
        }
    }
}


/* ---------------------------
6.6 Extra Core Features 
--------------------------- */

.home-v5 .extra-core-features {
    padding: 100px 0px 96px;
    .features-div {
        padding: 85px 0px 0px;
        .features-list-text {
            margin-bottom: 40px;
            h6 {
                color: $primary_bg;
            }
        }
        .features-list {
            .feature-list-head-text {
                margin-top: 20px;
                margin-bottom: 0px;
            }
            h6 {
                color: $primary_bg;
            }
            .feature-list-para {
                margin-bottom: 0px;
            }
        }
    }
}


/* ---------------------------
6.7 Promobox 
--------------------------- */

.home-v5 .promo-box {
    background: url("../images/1920x1080.png") no-repeat;
    background-size: 100% 100%;
    .layer {
        padding: 400px 0px;
        .creative-text {
            h6 {
                font-size: 18px;
                @include tracking(700);
                line-height: 30px;
            }
            h1 {
                font-size: 100px;
                @include tracking(700);
                margin-top: 41px;
                display: inline-block;
                margin-bottom: 20px;
            }
        }
    }
}


/* ---------------------------
6.8 Extra Second Features 
--------------------------- */

.home-v5 .extra-core-features.extra-second-core-feature {
    .features-div.feature-second-div {
        padding: 153px 0px 0px;
        .features-list {
            h1 {
                letter-spacing: 0.4em;
                line-height: 36px;
            }
        }
    }
    img {
        display: block;
    }
}


/* ---------------------------
6.9 Counters 
--------------------------- */

.home-v5 .counters-with-bg-image {
    background: url("../images/1920x410.png") no-repeat;
    .layer {
        background-color: rgba(50, 50, 50, 0.5);
    }
}


/* ---------------------------
6.10 Services first part 
--------------------------- */

.home-v5 .services_first_part.third_part {
    .services-top-text {
        margin-bottom: 40px;
        h6 {
            color: $primary_bg;
        }
    }
}


/* ---------------------------
6.11 Meet Our Team 
--------------------------- */

.home-v5 .meet-our-team {
    .team-text {
        h6 {
            color: $primary_bg;
        }
    }
}


/* ---------------------------
6.12 Creative Content  
--------------------------- */

.home-v5 .creative_content {
    .servive_creative_content-text {
        h6 {
            color: $primary_bg;
        }
    }
}
