/*-------------------------------------------------------------------------------
  11. Portfolio Details Page
-------------------------------------------------------------------------------*/
.portfolio-details-page {
    .portfolio-details {
        padding: 100px 0px 70px;
        img {
            margin-bottom: 30px;
        }
        .portfolio_description {
            h1 {
                line-height: 36px;
                @include tracking(400);
                margin-bottom: 20px;
                margin-top: 0px;
            }
            p {
                margin-bottom: 25px;
            }
            .portfolio-image-meta {
                color: $primary_bg;
                line-height: 24px;
                span {
                    display: block;
                    color: #878888;
                }
            }
            .social-icons {
                padding-top: 10px;
                a {
                    .icon {
                        margin: 0;
                        padding-top: 10px;
                        text-align: center;
                        background: #ffffff;
                        color: #e27763;
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                        font-size: 17px;
                        transition: border 0.3s ease 0s;
                        border: 1px solid #e27763;
                        margin-right: 15px;
                        &:hover {
                            background: #e27763;
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }
    .portfolio_details_two_btns {
        background: linear-gradient(to right, #bf6959 50%, #bf6959 50%, #e27763 50%, #e27763 50%);
        .portfolio_details_previous {
            .btn-primary {
                margin-bottom: 52px;
                margin-top: 52px;
            }
        }
        .portfolio_details_next {
            .btn-next {
                margin-bottom: 52px;
                margin-top: 52px;
            }
            text-align: right;
        }
    }
}
