/*-------------------------------------------------------------------------------
  9. Services Page - 9.1 Promobox
-------------------------------------------------------------------------------*/
.services_page {
    .promo-box {
        background: url("../images/1920x600.png") no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .layer {
            background-color: rgba(50, 50, 50, 0.4);
            padding: 210px 0px;
        }
        p {
            max-width: 950px;
        }
        .btn.btn-default {
            padding: 0 25px;
        }
    } 
}
