/*-------------------------------------------------------------------------------
  1. Global | 1.2 Buttons
-------------------------------------------------------------------------------*/
.btn {
    color: $global_btn_color;
    font-family: 'oswaldbold';
    /*font-weight: 600;*/
    font-size: 12px;
    display: inline-block;
    padding: 0 40px;
    @include tracking(300);
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 0px;
    margin-top: 20px;
    min-width: 200px;
    line-height: 50px;
    &.btn-default {
        background: $button_default_bg;
        border: 1px solid $button_default_border;
        &:hover,
        &:focus {
            background: #fff;
            color: $button_default_hover_color;
        }
    }
    &.btn-primary {
        background: $button_primary_bg;
        border: 1px solid $button_primary_border;
        &:hover,
        &:focus {
            background: darken($button_primary_bg, 5%);
            border: 1px solid darken($button_primary_border, 5%);
        }
    }
    &.btn-secondary {
        background: $button_secondary_bg;
        border: 1px solid $button_secondary_border;
        color: $button_secondary_color;
        &:hover,
        &:focus {
            background: $button_secondary_border;
            border: 1px solid $button_secondary_bg;
            color: $button_secondary_hover_color;
        }
    }
    &.btn-load-more {
        background: $button_load-more_bg;
        border: 1px solid $button_load-more_border;
        color: $button_load-more_color;
        margin-top: 40px;
        &:hover,
        &:focus {
            background: $button_load-more_border;
            border: 1px solid $button_load-more_bg;
            color: $button_load-more_hover_color;
        }
    }
    &.btn-facebook {
        background: $button_facebook_bg;
        border: 1px solid $button_facebook_border;
        margin-right: 20px;
        font-size: 12px;
        font-family: 'oswald_regularregular';
        opacity: 0.5;
        &:hover,
        &:focus {
            background: darken($button_facebook_bg, 7%);
            color: #fff;
            opacity: 1;
        }
    }
    &.btn.btn-twitter {
        background: $button_twitter_bg;
        border: 1px solid $button_twitter_border;
        margin-right: 20px;
        font-size: 12px;
        font-family: 'oswald_regularregular';
        opacity: 0.5;
        &:hover,
        &:focus {
            background: darken($button_twitter_bg, 7%);
            color: #fff;
            opacity: 1;
        }
    }
    &.btn.btn-googleplus {
        background: $button_google-plus_bg;
        border: 1px solid $button_google-plus_border;
        font-size: 12px;
        font-family: 'oswald_regularregular';
        opacity: 0.5;
        padding: 0 35px;
        &:hover,
        &:focus {
            background: darken($button_google-plus_bg, 7%);
            color: #fff;
            opacity: 1;
        }
    }
    &.btn-success {
        background-color: $button_success_bg;
        border-color: $button_success_border;
        &:hover,
        &:focus {
            background: darken($button_success_bg, 5%);
            border: darken($button_success_border, 5%);
        }
    }
    &.btn-info {
        background-color: $button_info_bg;
        border-color: $button_info_border;
        &:hover,
        &:focus {
            background: darken($button_info_bg, 5%);
            border: darken($button_info_border, 5%);
        }
    }
    &.btn-warning {
        background-color: $button_warning_bg;
        border-color: $button_warning_border;
        &:hover,
        &:focus {
            background: darken($button_warning_bg, 5%);
            border: darken($button_warning_border, 5%);
        }
    }
    &.btn-danger {
        background-color: $button_danger_bg;
        border-color: $button_danger_border;
        &:hover,
        &:focus {
            background: darken($button_danger_bg, 5%);
            border: darken($button_danger_border, 5%);
        }
    }
    &.btn-link {
        background-color: $button_link_bg;
        border-color: $button_link_border;
        color: $button_link_color;
        &:hover,
        &:focus {
            text-decoration: underline;
            color: darken($button_link_color, 5%);
        }
    }
    &.btn-reply {
        background-color: $button_reply_bg;
        border-color: $button_reply_border;
        color: $button_reply_color;
        margin-top: 0px;
        font-family: 'open_sansregular';
        font-size: 11px;
        min-width: 0px;
        &:hover,
        &:focus {
            background-color: $button_reply_hover_bg;
            border-color: $button_reply_hover_bg;
            color: $button_reply_hover_color;
        }
    }
    &.btn-next {
        background-color: $button_next_bg;
        border-color: $button_next_border;
        color: $button_next_color;
        &:hover,
        &:focus {
            background-color: $button_next_hover_bg;
            color: $button_next_hover_color;
        }
    }
    &.btn-gray-buynow {
        background-color: $button_gray_buynow_bg;
        border-color: $button_gray_buynow_border;
        color: $button_gray_buynow_color;
        &:hover,
        &:focus {
            background-color: $button_gray_buynow_hover_bg;
            color: $button_gray_buynow_hover_color;
            border-color: $button_gray_buynow_hover_border;
        }
    }
}