/*-------------------------------------------------------------------------------
  1. Global | 1.4 Logo
-------------------------------------------------------------------------------*/

.logo-image {
    a {
        img {
            &.logo-hover {
                display: none;
            }
            margin-right: 10px;
        }
        span {
            font-family: 'open_sanslight';
            font-size: 18px;
            color: #fff;
            >.bold {
                font-family: 'open_sanssemibold' !important;
            }
        }
    }
}
