/*-------------------------------------------------------------------------------
  1. Global | 1.3 Typography
-------------------------------------------------------------------------------*/

a {
    text-decoration: none !important;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'oswald_regularregular';
}

.no-padding {
    padding: 0px;
}

.no-l-padding {
    padding-left: 0px;
}

.no-r-padding {
    padding-right: 0px;
}

.no-t-padding {
    padding-top: 0px;
}

.no-b-padding {
    padding-bottom: 0px;
}

.no-margin {
    margin: 0px;
}

.float-none {
    float: none;
}

//  H6 global style
h6 {
    font-size: 12px;
    color: #999;
    @include tracking(900);
    margin-top: 0px;
    &.slider-sub-heading {
        color: #777;
        font-size: 18px;
        font-family: 'open_sanslight';
        margin-bottom: 14px;
        @include tracking(400);
        &.gettoknow {
            color: #f0f0f0;
            margin-left: -40px;
        }
        &.homev2-banner-sub-head {
            color: #fff;
        }
    }
    &.sub-heading {
        color: #878787;
        font-family: 'open_sansregular';
        @include tracking(200);
        margin-bottom: 0px;
    }
    &.creative-sub-heading {
        font-size: 14px;
        color: #fff;
    }
    &.pricing-table-subhead {
        color: #323232;
        font-size: 18px;
        @include tracking(300);
    }
    &.blog_sub_heading {
        margin-bottom: 20px;
        margin-top: 40px;
        font-size: 11px;
        color: #b7b7b7;
        font-family: 'open_sanslight';
        @include tracking(250);
        line-height: 30px;
        a {
            color: #e27763;
        }
    }
    &.blog_widget_sub_head {
        margin: 0;
        a {
            color: #323232;
            font-family: 'oswaldlight';
            @include tracking(400);
            line-height: 24px;
            text-decoration: none;
        }
    }
    &.comment-author-name {
        color: #323232;
        font-family: 'oswaldbold';
        @include tracking(250);
        display: inline-block;
        line-height: 30px;
        margin-top: 0;
        margin-bottom: 0;
    }
    &.faq-side-sub-head {
        font-family: 'open_sansregular';
        color: #fff;
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 30px;
    }
    &.homev4-banner-sub-head {
        font-size: 48px;
        color: #fff;
        letter-spacing: 40px;
    }
    &.v5-sub-head {
        font-size: 24px;
        @include tracking(900);
    }
}

h3 {
    font-size: 18px;
    color: #fff;
    font-family: 'oswald_regularregular';
    text-align: center;
    @include tracking(400);
    line-height: 30px;
    &.team-title {
        font-size: 16px;
        letter-spacing: 6px;
        margin-bottom: 0px;
    }
    &.panel-title {
        font-family: 'open_sansbold';
        font-size: 14px;
        text-align: left;
        letter-spacing: 1px;
        a {
            color: #323232;
        }
    }
}

//h1 global style
h1 {
    font-size: 30px;
    color: #323232;
    @include tracking(900);
    &.slider-heading {
        font-size: 70px;
        font-family: 'poppinsbold';
        color: #fff;
        @include tracking(80);
        margin-top: 0px;
        margin-left: -5px;
        line-height: 60px;
    }
    &.services-heading {
        font-size: 18px;
        @include tracking(400);
        margin-bottom: 15px;
        margin-top: 10px;
        line-height: 36px;
    }
    &.creative-head {
        font-family: 'oswald_regularregular';
        letter-spacing: 0.87em;
        margin-bottom: 30px;
        margin-top: 30px;
        margin-left: 0px;
    }
    &.buynow-head {
        font-family: 'open_sanslight_italic';
        font-size: 39px;
        @include tracking(50);
        margin-top: 5px;
    }
    &.banner_heading {
        font-size: 60px;
        margin-bottom: 15px;
        letter-spacing: 55px;
        color: #fff;
        margin-top: 0px;
    }
    &.blog_heading {
        color: #323232;
        font-size: 18px;
        line-height: 36px;
        margin-bottom: 10px;
        @include tracking(400);
        cursor: pointer;
        &:hover {
            color: #777;
        }
    }
    &.blog_recent_post_head {
        font-size: 14px;
        line-height: 30px;
    }
    &.blog_details_head {
        font-size: 36px;
        @include tracking(400);
        margin-top: 50px;
        margin-bottom: 0px;
        line-height: 48px;
    }
    &.contact-detailes {
        font-size: 18px;
        @include tracking(400);
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 0px;
        line-height: 36px;
    }
    &.homev2-banner-head {
        font-family: 'poppinsmedium';
        font-size: 52px;
        color: #fff;
        letter-spacing: 0px;
        line-height: 72px;
        margin-top: 26px;
        & span {
            font-family: 'poppinslight';
        }
    }
    &.free-trail-head {
        font-size: 48px;
        @include tracking(20);
        font-family: 'open_sanslight_italic';
        line-height: 1.5em;
        margin-top: 0px;
        span {
            color: $primary_bg;
            font-family: 'open_sanssemibold_italic';
        }
    }
    &.work-process-title {
        color: #ffffff;
        @include tracking(150);
        font-size: 30px;
    }
    &.faq-side-head {
        font-family: 'open_sansbold';
        color: #fff;
        letter-spacing: 1px;
        line-height: 1.3em;
    }
    &.homev5-banner-head {
        font-family: 'poppinsbold';
        font-size: 82px;
        color: #fff;
        @include tracking(100);
        line-height: 92px;
        margin-top: 0;
        margin-bottom: 0;
        opacity: 0.5;
        span {
            font-family: 'poppinslight';
        }
    }
    &.homev3-banner-head {
        font-family: 'poppinsbold';
        font-size: 60px;
        color: #fff;
        @include tracking(50);
        line-height: 1.2em;
        margin-top: 0;
        margin-bottom: 0;
        span {
            font-family: 'poppinslight';
        }
    }
}

//global paragraph
p {
    color: #878888;
    font-size: 14px;
    font-family: 'open_sansregular';
    line-height: 30px;
    &.boss-slider-info {
        font-size: 18px;
        font-family: 'open_sanslight';
        color: #fff;
        line-height: 36px;
    }
    &.footer-logo-info {
        color: #797979;
        margin-top: 5px;
    }
    &.copyrights {
        font-size: 13px;
        color: #797979;
    }
    &.services-buynow-text {
        font-size: 30px;
        color: #ffffff;
        font-family: 'open_sanslight';
        line-height: 48px;
    }
    &.banner-para {
        color: #fff;
        font-size: 16px;
    }
}

//hr style
.hr-bg {
    background: $global_hr_bg;
    background-position: -51px -22px;
    height: 6px;
    border-top: none;
    margin-bottom: 10px;
    width: 70px;
    display: inline-block;
    margin-top: 10px;
    &.bg2 {
        background-position: -4px -15px;
        display: inline-block;
        height: 2px;
        width: 170px;
        margin-right: -113px;
        z-index: 1;
        margin-top: 0px;
        margin-bottom: 0px;
        &.stock-bg2 {
            margin-left: -116px;
        }
    }
    &.bg3 {
        background-position: -4px -34px;
        margin: 10px 0px;
        width: auto;
        display: inline-block;
        min-width: 105px;
        min-height: 6px;
    }
    &.bg4 {
        background-position: -4px -22px;
        width: 35px;
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    &.bg5 {
        background-position: -4px -48px;
        height: 11px;
        margin: 24px 0px 15px;
    }
    &.bg7 {
        background-position: -4px -10px;
        height: 1px;
        width: 30px;
        margin-left: -45px;
        margin-top: -45px;
        display: block;
    }
    &.bg8 {
        background-position: -45px -35px;
        width: 30px;
    }
    &.bg9 {
        background-position: -4px -4px;
        height: 1px;
        width: 70px;
        margin-bottom: 10px;
    }
}

.home2-hr {
    border-top: 4px solid $primary_bg;
    width: 30px;
    height: 6px;
    margin-bottom: 10px;
    display: inline-block;
    margin-top: 10px;
}

.home-v4-hr {
    border-top: 1px solid $primary_bg;
    width: 70px;
    margin-top: 20px;
}