/*-------------------------------------------------------------------------------
  12. Blog Page
-------------------------------------------------------------------------------*/

.blog-page {
    .blog_post-container {
        background: #ffffff;
        background: -moz-linear-gradient(left, #ffffff 0%, #ffffff 75%, #f9f9f9 75%, #f9f9f9 100%);
        background: -webkit-linear-gradient(left, #ffffff 0%, #ffffff 75%, #f9f9f9 75%, #f9f9f9 100%);
        background: linear-gradient(to right, #ffffff 0%, #ffffff 75%, #f9f9f9 75%, #f9f9f9 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff ', endColorstr='#f9f9f9 ', GradientType=1);
        .blog-gradient-left {
            background: #fff;
            padding-top: 100px;
            padding-bottom: 100px;
            .blog_gray {
                background: linear-gradient(to right, #f9f9f9 0%, #f9f9f9 73%, #ffffff 74%, #ffffff 100%);
                .blog-text {
                    padding-top: 12px;
                    p {
                        margin-bottom: 0px;
                    }
                    .blog-button {
                        .btn.btn-secondary {
                            border: 2px solid #f0f0f0;
                            margin-top: 25px;
                            &:hover {
                                border: 2px solid #000;
                            }
                        }
                        a {
                            .icon {
                                margin: 0;
                                padding: 0;
                                text-align: center;
                                display: inline-block;
                                margin-left: 10px;
                                background: #ffffff;
                                color: #e27763;
                                border-radius: 50%;
                                width: 55px;
                                height: 55px;
                                font-size: 25px;
                                line-height: 30px;
                                border: 1px solid #f0f0f0;
                                float: left;
                                margin-top: 25px;
                                padding-top: 15px;
                                &:hover {
                                    border: 1px solid #e27763;
                                    background: #e27763;
                                    color: #ffffff;
                                }
                            }
                            .reply-icon {
                                margin-left: 20px;
                            }
                        }
                    }
                }
            }
            .blog_post_border {
                margin-top: 40px;
                margin-bottom: 40px;
            }
        }
        .blog-gradient-right {
            background: #f9f9f9;
            padding-top: 100px;
            padding-bottom: 100px;
            &::before {
                content: ' ';
                display: block !important;
                position: absolute !important;
                width: 30px;
                background: #f9f9f9;
                left: -15px;
                height: 100%;
                top: 0;
            }
        }
        .btn-load-more {
            margin-top: 50px;
        }
    }
}
