/*-------------------------------------------------------------------------------
  13. Blog Details Page
-------------------------------------------------------------------------------*/

.blog-details-page {
    .blog_post-container.blog_details {
        background: #ffffff;
        background: -moz-linear-gradient(left, #ffffff 0%, #ffffff 75%, #f9f9f9 75%, #f9f9f9 100%);
        background: -webkit-linear-gradient(left, #ffffff 0%, #ffffff 75%, #f9f9f9 75%, #f9f9f9 100%);
        background: linear-gradient(to right, #ffffff 0%, #ffffff 75%, #f9f9f9 75%, #f9f9f9 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff ', endColorstr='#f9f9f9 ', GradientType=1);
        .blog-gradient-left {
            background: #fff;
            padding-top: 100px;
            padding-bottom: 100px;
            .icons_comments {
                .icon {
                    font-size: 24px;
                    color: #DBDBDB;
                    vertical-align: middle;
                    display: inline-block;
                    margin-top: 10px;
                    line-height: 30px;
                }
                span {
                    font-size: 11px;
                    font-family: 'open_sansregular';
                    color: #DBDBDB;
                    margin: 0 55px 0 10px;
                    @include tracking(150);
                    line-height: 30px;
                }
            }
            p {
                margin-top: 20px;
            }
            .blog-details-page-button {
                .btn {
                    @include tracking(200);
                }
            }
            .blog-details-images {
                margin: 80px 0px 80px;
                .blog_details_featured_post {
                    position: relative;
                    overflow: hidden;
                    .blog-post-link {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: -10px;
                        left: 0;
                        color: #ffffff;
                        padding: 123px 19px;
                        background: #e27763;
                        transform: translateX(-100%);
                        transition: all 0.20s ease 0s;
                        opacity: 0.9;
                        .icon {
                            font-size: 24px;
                            color: #ffffff;
                        }
                    }
                    &:hover .blog-post-link {
                        transform: translateY(0);
                        background: rgba(226, 119, 99, 0.95);
                    }
                }
            }
            .comments-border {
                border: 1.5px solid $primary_bg;
            }
            .comments-container {
                margin: 50px auto 15px;
                .comments-list {
                    margin-top: 30px;
                    padding-left: 0px;
                    li {
                        display: inline-block;
                        padding-bottom: 20px;
                        margin-bottom: 30px;
                        border-bottom: 1px solid #eee;
                        .comment-avatar {
                            width: 70px;
                            height: 70px;
                            float: left;
                            margin-right: 30px;
                            img {
                                width: 100%;
                                height: 100%;
                                border-radius: 50%;
                                border: 2px solid #de644d;
                            }
                        }
                        .comment-box {
                            width: 670px;
                            float: right;
                            margin-top: -5px;
                            .comment-head {
                                .btn.btn-reply {
                                    line-height: 30px;
                                    padding: 5px 37px;
                                    @include tracking(150);
                                    .icon {
                                        font-size: 25px;
                                        display: inline-block;
                                        vertical-align: middle;
                                        margin-right: 10px;
                                    }
                                }
                                span {
                                    margin-top: 0;
                                    color: #878888;
                                    font-family: 'open_sanslight';
                                    font-size: 11px;
                                    @include tracking(250);
                                    display: block;
                                    line-height: 30px;
                                }
                            }
                            .comment-content {
                                span {
                                    color: $primary_bg;
                                }
                            }
                        }
                        .reply-list {
                            padding-left: 100px;
                            display: inline-block;
                            li {
                                border-bottom: 1px solid #eee;
                                margin-bottom: 0px;
                                .comment-box {
                                    width: 568px;
                                }
                            }
                        }
                        &:nth-child(3),
                        &:nth-child(4) {
                            border-bottom: none;
                            margin-bottom: 0px;
                        }
                        .comment-list-border {
                            margin-bottom: 30px;
                            border-bottom: 1px solid #eee;
                            display: inline-block;
                            padding-bottom: 20px;
                        }
                    }
                }
            }
            .btn-load-more {
                margin-top: 0px;
            }
            .contact-form {
                margin-top: 80px;
                padding-bottom: 65px;
                background: #f7f7f7;
                padding: 20px;
                .form-control {
                    margin-bottom: 20px;
                    border: transparent;
                    font-family: 'open_sanslight';
                    font-size: 14px;
                    height: 50px;
                    padding-left: 20px;
                    border-radius: 0px;
                    box-shadow: none !important;
                    background: #fff;
                    &:focus {
                        border: 1px solid $primary_bg !important;
                    }
                }
                #message {
                    height: auto;
                }
            }
        }
        .blog-gradient-right {
            background: #f9f9f9;
            padding-top: 100px;
            padding-bottom: 100px;
            &::before {
                content: ' ';
                display: block !important;
                position: absolute !important;
                width: 30px;
                background: #f9f9f9;
                left: -15px;
                height: 100%;
                top: 0;
            }
        }
    }
}
