/*-------------------------------------------------------------------------------
  14. Contact Page
-------------------------------------------------------------------------------*/
.contact {
    padding: 100px 0 85px;
    .contact-form {
        margin-top: 45px;
        
        .form-control {
            margin-bottom: 20px;
            border: transparent;
            font-family: 'open_sanslight';
            font-size: 14px;
            height: 50px;
            padding-left: 20px;
            border-radius: 0px;
            box-shadow: none;
            background: #f7f7f7;
            border: 1px solid #f1f1f1;
            &:focus {
                border: 1px solid $primary_bg;
                box-shadow: 0px 0px 1px $primary_bg;
            }
        }
        #message {
            height: auto;
        }
    }
    .conatct-address {
        ul {
            padding-left: 0px;
            li {
                padding: 34px 0px 0px;
                .icon {
                    color: $primary_bg;
                    border-radius: 50%;
                    width: 55px;
                    height: 55px;
                    border: 1px solid #f0f0f0;
                    text-align: center;
                    padding: 14px;
                    margin-right: 10px;
                    font-size: 22px;
                    &.dripicons-phone {
                        border: 1px solid $primary_bg;
                        background: $primary_bg;
                        color: #fff;
                    }
                }
                p{
                    line-height: 24px;
                }
                .contact-no{
                    line-height: 30px;
                }
                a {
                    color: $primary_bg;
                    line-height: 30px;
                }
            }
        }
    }
}

