/* --------------------------------------
3 Home page version 2
----------------------------------------- */


/* -------------
3.1 Header
---------------- */

    .home-v2 .header{
        .top-container{
            .navbar-nav{
                li.search-icon{
                    display: none;
                }
            }
        }
    }
/* -------------
3.2 Banner
---------------- */
    .home-v2 .home-page-v2-banner {
        .image-caption-1 {
            .btn-primary {
                margin-top: 10px;
            }
        }
    }
    

