/* -------------------------------------
2 Home page version 1 
---------------------------------------- */


/* --------------------
 2.1 Section - Slider 
----------------------- */
#slider {
    img {
        width: 100%;
    }
    .image-caption {
        hr {
            border-top: 3px solid #fff;
            width: 70px;
            display: inline-block;
            margin-top: 0px;
            margin-bottom: 10px;
        }
    }
    .owl-wrapper {
        .item {
            .image-caption {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                right: 0;
            }
        }
    }
    .owl-controls {
        margin-top: 0px !important;
        .owl-pagination {
            position: absolute;
            bottom: 10px;
            right: 0px;
            left: 0px;
            .owl-page {
                span {
                    background: $global_hr_bg -145px -21px;
                    height: 12px;
                    width: 12px;
                }
                &.active span {
                    background: $global_hr_bg -129px -21px;
                }
                &:hover span {
                    background: $global_hr_bg -50px -64px;
                }
            }
        }
        .owl-buttons {
            display: none;
        }
    }
}

/* -----------
2.2 Section - Our History
-------------- */
.our-history {
    padding: 100px 0;
    .history-text {
        padding-top: 50px;
    }
}

/* ------------
2.3 Section - Services
--------------- */
.services {
    padding: 100px 0px 70px;
    .homev1-services {
        margin-bottom: 30px;
        .services-text {
            padding-top: 60px;
        }
        img {
            display: inline-block;
        }
        .service-mediaquery {
            z-index: -1;
        }
    }
}

/* ------------
2.4 Section -  Promobox
--------------- */
.promo-box {
    background: url("../images/1920x800.png") no-repeat;
    background-size: 100% 100%;
    .layer {
        background-color: rgba(50, 50, 50, 0.6);
        padding: 293px 0px;
        h6{
            margin-top:0px;
        }
        .btn-default {
            padding: 0 25px;
        }
    }
}

/*-------------
2.5 Section - Blog Post
--------------- */
.blog-post {
    padding: 100px 0px;
    .item {
        position: relative;
        overflow: hidden;
        margin: 40px 0px 28px 0px;
        .blog-content {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            padding: 100px 84px;
            background: rgba(0, 0, 0, 0.4);
            transform: translateX(-100%);
            transition: all 0.20s ease 0s;
            
            .blog-subhead {
                font-size: 11px;
                color: #FFF;
                display: block;
                margin-bottom: 20px;
                font-family: 'open_sanslight';
                text-align: center;
                @include tracking(250);
            line-height: 30px;
            }
            .blog-title {
                margin-bottom: 16px;
            }
            .blog_contact {
                text-align: center;
                padding-left: 0px;
                >li {
                    display: inline-block;
                    margin-right: 5px;
                    background: rgba(165, 165, 165, 0.6);
                    >a {
                        width: 45px;
                        height: 45px;
                        font-size: 24px;
                        color: #fff;
                        line-height: 33px;
                        text-align: center;
                        display: inline-block;
                        transition: border 0.3s ease 0s;
                        padding-top: 9px;
                        padding-right: 5px;
                        &:hover {
                            border-color: 1px solid #e27763;
                            background: #e27763;
                        }
                        .glyphicon {
                            padding-top: 10px;
                        }
                    }
                }
            }
        }
        &:hover .blog-content {
            transform: translateY(0);
            background: rgba(42, 42, 42, 0.5);
        }
    }
    .owl-controls {
        display: none !important;
    }
}

/*-------------
2.6 Section - Contact Form
--------------- */
.get-in-touch {
    background-color: #f7f7f7;
    .contactus-image {
        padding-left: 0px;
        img {
            width: 100%;
        }
    }
    .contact-text {
        padding-top: 172px;
        p{
            max-width: 570px;
        }
    }
    .contact-form {
        margin-top: 45px;
        padding-bottom: 182px;
        .form-group {
            margin-bottom: 15px;
            margin-right: 36px;
        }
        .form-control {
            /*margin-bottom: 20px;*/
            border: 1px solid #fff;
            font-family: 'open_sanslight';
            font-size: 14px;
            height: 50px;
            padding-left: 20px;
            border-radius: 0px;
            box-shadow: none !important;
        }
        #message {
            height: auto;
        }
        .btn-primary {
            padding: 0 30px;
        }
    }
}
