/* ------------------------------------------
4 Home page version 3 
--------------------------------------------- */



/* ----------------
4.1 Banner 
------------------- */
.home-v3 .header{
        .top-container{
            .navbar-nav{
                li.search-icon{
                    display: none;
                }
            }
        }
    }
/* ----------------
4.2 Banner 
------------------- */
.home-v3 .home-page-v2-banner {
    .image-caption-1 {
        .creative-hr-line {
            border-top: 2px solid #e27763;
            width: 60px;
            display: block;
            margin-top: 40px;
        }
        .btn-primary {
            margin-top: 10px;
        }
        .btn-default {
            padding: 0 25px;
            margin-top: 10px;
        }
    }
}


/* ----------------
4.3 About What We Do 
------------------- */

.home-v3 .about_what_we_do.about_what_we_do_border {
    background: #f7f7f7;
    .creative_design {
        background: #fff;
    }
}


/* --------------
4.4 How it Works 
----------------- */

.home-v3 .how-it-works {
    .how-it-works-text {
        h6 {
            color: $primary_bg;
        }
    }
    .v2-services {
        .v2-services-text {
            h6 {
                @include tracking(250);
            }
            h1 {
                @include tracking(400);
            }
        }
    }
}


/* -------------- 
4.5 Testimonials 
----------------- */

.home-v3 .testimonials.testimonials-orange-bg {
    background: url("../images/1920x600.png") no-repeat;
    background-size: 100% 100%;
}


/* -------------
4.6 Extra Core Features 
---------------- */

.home-v3 .extra-core-features {
    background: #f7f7f7;
}


/* -------------
4.7 Pricing Plan 
---------------- */

.home-v3 .pricing-plan.pricing-plan-orange {
    .plan-text {
        h6 {
            color: $primary_bg;
        }
    }
}


/* ------------- 
4.8 Clients 
---------------- */

.home-v3 .clients {
    .client-text {
        h6 {
            color: $primary_bg;
        }
    }
}


/* -------------
4.9 Meet Our Team 
---------------- */

.home-v3 .meet-our-team {
    .team-text {
        h6 {
            color: $primary_bg;
        }
    }
}
