/* button variables */

$primary_bg : #e27763;
$buynow_bg : $primary_bg;
$counter_icon_bg : $primary_bg;
$header_menu_bg : $primary_bg;
$pricing_facheck_color : $primary_bg;
$princing_fa-times_color:#abc332;

// button primary
$button_primary_bg : $primary_bg;
$button_primary_border : $primary_bg;

//button default
$button_default_bg : transparent;
$button_default_border : #fff;
$button_default_hover_color : #000;

//button secondary
$button_secondary_bg : transparent;
$button_secondary_border : #323232;
$button_secondary_color :#323232;
$button_secondary_hover_color :#fff;

//button blog-load-more
$button_load-more_bg : transparent;
$button_load-more_border : $primary_bg;
$button_load-more_color :$primary_bg;
$button_load-more_hover_color :#fff;

//button facebook
$button_facebook_bg : #3b5998;
$button_facebook_border : #3b5998;
$button_facebook_color :#fff;


//button twitter
$button_twitter_bg : #4099ff;
$button_twitter_border : #4099ff;
$button_twitter_color :#fff;


//button google-plus
$button_google-plus_bg : #d34836;
$button_google-plus_border : #d34836;
$button_google-plus_color :#fff;

//button next
$button_next_bg : #f0f0f0;
$button_next_border : #f0f0f0;
$button_next_color :#000;
$button_next_hover_bg: transparent;
$button_next_hover_color:#fff;

//button gray buy now
$button_gray_buynow_bg : #fff;
$button_gray_buynow_border : #fff;
$button_gray_buynow_color :#999;
$button_gray_buynow_hover_bg: #999;
$button_gray_buynow_hover_color:#fff;
$button_gray_buynow_hover_border:#999;

//button success
$button_success_bg : #5cb85c;
$button_success_border : #4cae4c;

//button info
$button_info_bg : #5bc0de;
$button_info_border : #46b8da;

//button warning
$button_warning_bg : #f0ad4e;
$button_warning_border : #eea236;

//button danger
$button_danger_bg : #d9534f;
$button_danger_border : #d43f3a;

//button link
$button_link_bg : transparent;
$button_link_border : transparent;
$button_link_color :#337ab7;

//button reply
$button_reply_bg : transparent;
$button_reply_border :#eee;
$button_reply_color :$primary_bg;
$button_reply_hover_color :#fff;
$button_reply_hover_bg :$primary_bg;

$global_btn_color : #fff;
$global_hr_bg : url('../images/new-all-image.png');


