/* ------------------------------------------------------------------------------

  Template Name: SuperShot
  Description: SuperShot - Creative HTML Template
  Author: Murren
  Author URI: http://themeforest.net/user/murren20
  Version: 1.0
  
1. Global 
    1.1 Body
    1.2 Buttons
    1.3 Typography
    1.4 Logo
    1.5 Site Loader

2. Home page version 1
    2.1 Slider
    2.2 Section : Our History 
    2.3 Section : Services
    2.4 Section : Promobox
    2.5 Section : Blog Post
    2.6 Section : Contact Form

3. Home page version 2
    3.1 Header
    3.2 Banner

4. Home page version 3
    4.1 Header
    4.2 Banner
    4.3 Section : About What We Do
    4.4 Section : How it Works
    4.5 Section : Testimonials
    4.6 Section : Extra Core Features
    4.7 Section : Pricing Plan
    4.8 Section : Clients
    4.9 Section : Meet Our Team

5. Home page version 4
    5.1  Banner
    5.2  Banner
    5.3  Section : About What We Do
    5.4  Section : How it Works
    5.5  Section : Core Features
    5.6  Section : Extra Core Features
    5.7  Section : Testimonials
    5.8  Section : Creative Mind
    5.9  Section : Contact Form
    5.10  Section : Clients
    5.11 Section : Counters
    5.12 Section : Meet Our Team

6. Home page version 5
    6.1  Header Top Container
    6.2  Section : Banner
    6.3  Section : How it Works
    6.4  Section : Booss Demos
    6.5  Section : Work Process
    6.6  Section : Extra Core Features
    6.7  Section : Promobox
    6.8  Section : Extra Second Features
    6.9  Section : Counters
    6.10 Section : Services first part
    6.11 Section : Meet Our Team
    6.12 Section : Creative Content

7. Global Sections
    7.1  Header
        7.1.1 Menu
        7.1.2 Responsive Menu
    7.2  Section : Counter
    7.3  Section : Cta
    7.4  Section : Portfolio
    7.5  Section : Meet Our Team
    7.6  Section : Testimonials
    7.7  Section : Clients
    7.8  Section : Core Features
    7.9  Section : Creative Mind
    7.10 Section : Extra Core Features
    7.11 Section : Faq
    7.12 Section : Creative Concepts 
    7.13 Section : Free Trail
    7.14 Section : Free Trail Signup Form
    7.15 Section : Home page Banner    
    7.16 Section : How it Works    
    7.17 Section : Multipurpose WP   
    7.18 Section : Pricing Plan   
    7.19 Section : Service Core Feature   
    7.20 Section : Sub Page Banner
    7.21 Section : Sub Page Widget
    7.22 Section : Video
    7.23 Section : What We Do
    7.24 Section : Work Process
    7.25 Section : Your Skills
    7.26 Section : Validation
    7.27 Section : Footer
        7.27.1 Section : Copy Rights


8. About Us Page
    8.1  What We Do

9. Services Page
    9.1  Promobox

10. Portfolio Page
    10.1  Portfolio

11. Portfolio Details Page
12. Blog Page
13. Blog Details Page
14. Contact Page
15. Mediaquery
    
*/

@charset "UTF-8";
@import "functions";
@import "variables";

/*
 * --- Global Style Starts ----
 */


/*-------------------------------------------------------------------------------
  1. Global | 1.1 Body
-------------------------------------------------------------------------------*/

body {
    overflow: hidden;
    &.loaded {
        overflow-x: hidden;
        overflow-y: scroll;
    }
}

@import "components/buttons";
@import "components/typhography";
@import "components/logo";
@import "components/loader";

/*
 * --- Home Page Version 1 Starts ----
 */

@import "pages/home-page-1";

/*
 * --- Home Page Version 2 Starts ----
 */

@import "pages/home-page-2";

/*
 * --- Home Page Version 3 Starts ----
 */

@import "pages/home-page-3";

/*
 * --- Home Page Version 4 Starts ----
 */

@import "pages/home-page-4";

/*
 * --- Home Page Version 5 Starts ----
 */

@import "pages/home-page-5";

/*
 * --- Global Sections - Header ----
 */

@import "global-sections/header";

/*
 * --- Global Sections - Counters ----
 */

@import "global-sections/counter-section";

/*
 * --- Global Sections - Cta ----
 */

@import "global-sections/cta";

/*
 * --- Global Sections - Portfolio ----
 */

@import "global-sections/portfolio-section";

/*
 * --- Global Sections - Meet Our Team ----
 */

@import "global-sections/teammember-section";

/*
 * --- Global Sections - Testimonials ----
 */

@import "global-sections/testimonials-section";

/*
 * --- Global Sections - Clients ----
 */

@import "global-sections/clientslogo-section";

/*
 * --- Global Sections - Core Features ----
 */

@import "global-sections/core-features";

/*
 * --- Global Sections - Creative Mind ----
 */

@import "global-sections/creative-mind";

/*
 * --- Global Sections - Extra Core Features ----
 */

@import "global-sections/extra-core-features";

/*
 * --- Global Sections - Faq ----
 */

@import "global-sections/faq";

/*
 * --- Global Sections - Creative Concepts ----
 */

@import "global-sections/creative-concepts-section";

/*
 * --- Global Sections - Free Trail ----
 */

@import "global-sections/free-trail";

/*
 * --- Global Sections - Free Trail Signup Form ----
 */

@import "global-sections/free-trial-signup-form";

/*
 * --- Global Sections - Home Page Banner ----
 */

@import "global-sections/home-page-banner-section";

/*
 * --- Global Sections - How it Works  ----
 */

@import "global-sections/how-it-works-section";

/*
 * --- Global Sections - Multipurpose WP  ----
 */

@import "global-sections/multi-purpose-wp";

/*
 * --- Global Sections - Pricing Plan ----
 */

@import "global-sections/pricingtable-section";

/*
 * --- Global Sections - Service Core Feature ----
 */

@import "global-sections/service-core-features";

/*
 * --- Global Sections - Sub Page Banner ----
 */

@import "global-sections/sub-page-banner-section";

/*
 * --- Global Sections - Sub Page Widget ----
 */

@import "global-sections/sub-page-widget-section";

/*
 * --- Global Sections - Video ----
 */

@import "global-sections/video-section";

/*
 * --- Global Sections - What We Do ----
 */

@import "global-sections/what-we-do-section";

/*
 * --- Global Sections - Work Process ----
 */

@import "global-sections/work-process-section";

/*
 * --- Global Sections - Your Skills ----
 */

@import "global-sections/your-skills-section";

/*
 * --- Global Sections - Validation ----
 */

@import "global-sections/validation";

/*
 * --- Global Sections - Footer ----
 */

@import "global-sections/footer";

/*
 * --- About Us Page ----
 */

@import "pages/about";

/*
 * --- Services Page ----
 */

@import "pages/services";

/*
 * --- Portfolio Page ----
 */

@import "pages/portfolio";

/*
 * --- Portfolio Details Page ----
 */

@import "pages/portfolio-details";

/*
 * --- Blog Page ----
 */

@import "pages/blog";

/*
 * --- Blog Details ----
 */

@import "pages/blog-details";

/*
 * --- Contact Page ----
 */

@import "pages/contact-page";

/*
 * --- Mediaquery ----
 */

@import "mediaquery/mediaquery";
