.blog-page {
    .banner {
        .layer {
            padding: 100px 0px;
        }
    }
    .blog_post-container {
        .blog-gradient-left {
            padding-top: 50px;
            padding-bottom: 50px;
            .blog_gray {
                background: none !important;
                .blog-text {
                    .blog_sub_heading {
                       margin-top: 40px;
                    }
                    .blog_heading{
                        margin-top:0px;
                        font-size: 17px;
                    }
                    .bg7{
                        margin-top: -40px;
                    }
                    .blog-button {
                        .btn.btn-secondary {
                            min-width: 0px;
                           
                        }
                    }
                }
            }
        }
        .blog-gradient-right {
            height: auto !important;
            padding-top: 50px;
            padding-bottom: 50px;
            #imaginary_container {
                width: 400px;
                display: inline-block;
                margin-left: 0px;
                .stylish-input-group {
                    padding: 0px 0px 20px 0px;
                }
            }
            .blog_recent_post-text {
                padding-top: 0px;
                .blog_recent_post {
                    li {
                        padding: 20px 0px 30px;
                    }
                }
            }
            .slider_gallery {
                #blog_slider_gallery {
                    .owl-item {
                            width: 345px !important;
                        }
                    .owl-controls {
                        .owl-buttons {
                            .owl-next {
                                right: 70px;
                            }
                        }
                    }
                }
            }
            .category {
                padding-top: 0px;
            }
            .blog-responsive {
                clear: both;
            }
        }
    }
}
