.blog-page {
    .banner {
        .layer {
            padding: 120px 0px 70px;
            h1 {
                margin-left: 20px;
                letter-spacing: 40px;
            }
            h6 {
                margin-left: 0px;
            }
        }
    }
    .blog_post-container {
        .blog-gradient-left {
            padding-top: 50px;
            padding-bottom: 50px;
            .blog_gray {
                background: none;
                .blog-text {
                    text-align: left;
                    .blog_sub_heading {
                        margin-top: 0px;
                    }
                    .blog-button {
                        .icon {
                            float: none;
                        }
                    }
                }
                .btn-secondary {
                    margin-left: 20px;
                }
            }
        }
        .blog-gradient-right {
            height: auto !important;
            padding-top: 50px;
            padding-bottom: 0px;
            #imaginary_container {
                width: 320px;
                margin-left: 0px;
                .stylish-input-group {
                    padding: 0px 0px 20px 0px;
                }
            }
            .blog_recent_post-text {
                padding-top: 0px;
                .blog_recent_post {
                    li {
                        padding: 20px 0px 20px;
                    }
                }
            }
            .blog-border-responsive {
                border-bottom: 1px solid #f0f0f0;
                padding-bottom: 20px;
                .category,
                .meta {
                    padding-top: 20px;
                }
                .slider_gallery {
                    padding-top: 20px;
                    #blog_slider_gallery {
                        .owl-item {
                            width: 330px !important;
                        }
                        .owl-controls {
                            .owl-buttons {
                                .owl-next {
                                    right: 55px;
                                }
                            }
                        }
                    }
                }
                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
}
