.blog-page {
    .blog_post-container {
        .blog_gray {
            background: none !important;
            .blog-text {
                padding-top: 0px !important;
                h1 {
                    margin-top: 0px;
                }
                .bg7 {
                    margin-top: -80px;
                }
                .blog_sub_heading {
                    margin-top: 80px;
                }
                .blog-button {
                    a {
                        >.icon {
                            float: none !important;
                        }
                    }
                }
            }
        }
        .slider_gallery {
            #blog_slider_gallery {
                .owl-item {
                    width: 293px !important;
                }
                .owl-controls {
                    .owl-buttons {
                        .owl-next {
                            right: 18px;
                        }
                    }
                }
            }
        }
        .blog-gradient-right::before {
            display: none !important;
        }
    }
}
