.home-v4 {
    .home-page-v2-banner {
        img {
            position: relative;
        }
    }
    .about_what_we_do {
        padding: 50px 0px 20px;
        .what_we_do_points {
            .creative_design {
                margin-bottom: 20px;
            }
        }
    }
    .how-it-works {
        padding: 50px 0px;
        .how-it-works-text {
            h1 {
                letter-spacing: 10px;
            }
        }
        .v2-services {
            padding-top: 0px;
            display: flex;
            flex-flow: column;
            .responsive-col1-change {
                order: 2;
                padding-bottom: 10px;
                .v2-services-text {
                    text-align: left !important;
                    padding-top: 0px;
                    h6 {
                        line-height: 1.3em;
                    }
                }
            }
            .responsive-col3-change {
                order: 3;
            }
            .image::before,
            .shadow-image-right::before {
                display: none;
            }
        }
    }
    .core-features {
        padding: 0px;
        .layer {
            padding: 50px 0px;
            .features-div {
                padding: 0px;
                .features-list {
                    .icon {
                        float: left;
                        display: inline-block;
                        margin-right: 20px;
                        margin-bottom: 30px;
                    }
                    h1 {
                        margin-top: 0px;
                        display: inline-block;
                        margin-bottom: 0px;
                    }
                    hr {
                        display: none;
                    }
                    .homev4-para {
                        margin-bottom: 50px;
                    }
                }
            }
            .core-image-aling {
                text-align: center;
            }
        }
    }
    .extra-core-features {
        .extra-core-features-image {
            padding-right: 0px;
            img {
                height: auto !important;
            }
        }
        .features-div {
            padding: 40px 0px 0px;
            h6 {
                line-height: 1.3em;
            }
            h1 {
                letter-spacing: 20px;
                line-height: 1.3em;
            }
            .features-list {
                .icon {
                    float: left;
                    display: inline-block;
                    margin-right: 20px;
                    margin-bottom: 20px;
                }
                h1 {
                    margin-top: 0px;
                    display: inline-block;
                    margin-bottom: 20px;
                    letter-spacing: 5px
                }
                hr {
                    display: none;
                }
            }
        }
    }
    .creative-mind {
        padding: 50px 0px 0px;
        .creative-mind-text {
            padding: 50px 0px;
            h1 {
                letter-spacing: 10px;
            }
        }
    }
    .free-trial {
        padding: 50px 0px 70px;
        .free-trail-head {
            letter-spacing: 0px;
        }
    }
    .video-background {
        .layer {
            padding: 100px 0px;
            .video {
                h1 {
                    letter-spacing: 0.5em !important;
                    margin-top: 20px;
                    font-size: 20px;
                }
            }
        }
    }
    .faq {
        padding: 50px 0px;
        .faq-text {
            padding: 60px 10px 60px 10px;
        }
        .panel-group {
            .panel.panel-default {
                .panel-heading {
                    padding-left: 10px;
                    .panel-title {
                        letter-spacing: 0px;
                    }
                }
            }
        }
    }
    .home-page-v2-contact {
        .layer {
            padding: 50px 0px;
            .home-page-v2-contact-text {
                h1 {
                    letter-spacing: 20px;
                    line-height: 1.3em;
                }
            }
        }
    }
    .counters-with-bg-image {
        padding: 0px;
        .layer {
            padding: 20px 0px;
        }
    }
    .your_skills {
        padding: 50px 0px;
        .your_skills_percentage_loader {
            margin-top: 20px;
        }
    }
    .mutipurpose {
        padding: 50px 0px;
        h1 {
            line-height: 1.3em;
            letter-spacing: 13px;
        }
    }
}
