/* -------------------------------------
15. Mediaquery
---------------------------------------- */


@media (max-width: 1200px) {
    @import "global/global-lg";
    @import "pages/home-page-1/home-page1-lg";
    @import "pages/home-page-2/home-page-2-lg";
    @import "pages/home-page-3/home-page-v3-lg";
    @import "pages/home-page-4/home-page-v4-lg";
    @import "pages/home-page-5/home-page-v5-lg";
    @import "pages/about-us-page/about-us-page-lg";
    @import "pages/services-page/services-page-lg";
    @import "pages/blog-page/blog-page-lg";
    @import "pages/blog-details-page/blog-details-page-lg";
    @import "pages/portfolio-details/portfolio-details-page-lg";
    @import "pages/portfolio-page/portfolio-page-lg";
}

@media (min-width: 992px) and (max-width: 1199px) {
    @import "global/global-md";
    @import "pages/home-page-1/home-page1-md";
    @import "pages/home-page-2/home-page-2-md";
    @import "pages/home-page-3/home-page-v3-md";
    @import "pages/home-page-4/home-page-v4-md";
    @import "pages/home-page-5/home-page-v5-md";
    @import "pages/about-us-page/about-us-page-md";
    @import "pages/services-page/services-page-md";
    @import "pages/blog-page/blog-page-md";
    @import "pages/blog-details-page/blog-details-page-md";
    @import "pages/portfolio-page/portfolio-page-md";
    @import "pages/portfolio-details/portfolio-details-page-md";
    @import "pages/contact-page/contact-page-md";
}

@media (min-width: 768px) and (max-width: 991px) {
    @import "global/global-sm";
    @import "pages/home-page-1/home-page1-sm";
    @import "pages/home-page-2/home-page-2-sm";
    @import "pages/home-page-3/home-page-v3-sm";
    @import "pages/home-page-4/home-page-v4-sm";
    @import "pages/home-page-5/home-page-v5-sm";
    @import "pages/about-us-page/about-us-page-sm";
    @import "pages/services-page/services-page-sm";
    @import "pages/blog-page/blog-page-sm";
    @import "pages/blog-details-page/blog-details-page-sm";
    @import "pages/portfolio-page/portfolio-page-sm";
    @import "pages/portfolio-details/portfolio-details-page-sm";
    @import "pages/contact-page/contact-page-sm";
}

@media (min-width: 100px) and (max-width: 767px) {
    @import "global/global-xs";
    @import "pages/home-page-1/home-page1-xs";
    @import "pages/home-page-2/home-page-2-xs";
    @import "pages/home-page-3/home-page-v3-xs";
    @import "pages/home-page-4/home-page-v4-xs";
    @import "pages/home-page-5/home-page-v5-xs";
    @import "pages/about-us-page/about-us-page-xs";
    @import "pages/services-page/services-page-xs";
    @import "pages/blog-page/blog-page-xs";
    @import "pages/blog-details-page/blog-details-page-xs";
    @import "pages/portfolio-page/portfolio-page-xs";
    @import "pages/portfolio-details/portfolio-details-page-xs";
    @import "pages/contact-page/contact-page-xs";
}
