.about_page {
    .banner {
        .layer {
            padding: 120px 0px 70px;
            h1 {
                letter-spacing: 24px;
                font-size: 36px;
            }
            h6 {
                margin-left: 0px;
            }
        }
    }
    .about_what_we_do {
        padding: 50px 0px 0px;
        .about_what_we_do-text {
            h1 {
                letter-spacing: 20px;
                line-height: 1.3em;
            }
        }
        .what_we_do_points {
            p {
                margin-bottom: 40px;
            }
            .icon {
                float: left;
                display: inline-block;
                margin-right: 20px;
            }
            h1 {
                margin-top: 0px !important;
                display: inline-block;
                margin-bottom: 10px;
                letter-spacing: 5px;
            }
            hr {
                display: none;
            }
        }
    }
    .work_process {
        padding: 50px 0px;
        .work_process_text {
            h1 {
                letter-spacing: 20px;
                line-height: 1.3em;
            }
            p {
                margin-bottom: 40px;
            }
        }
        .work_process_order {
            h1 {
                margin-bottom: 0px;
            }
            p {
                margin-bottom: 30px;
            }
        }
    }
    .your_skills {
        padding: 50px 0px 30px;
        h1 {
            margin-top: 0px;
            line-height: 1.3em;
        }
        .your_skills_percentage_loader {
            margin-top: 20px;
        }
    }
    .counters {
        padding: 0px;
        .layer {
            padding: 50px 0px;
        }
    }
    .mutipurpose {
        padding: 50px 0px;
        h1 {
            line-height: 1.3em;
            letter-spacing: 13px;
        }
    }
}
