.about_what_we_do {
    padding: 50px 0px 0px;
    .creative_design{
        h1{
            letter-spacing: 0.2em !important;
        }
    }
}

.work_process {
    padding: 50px 0px 0px;
    .work_process_order {
        p {
            margin-bottom: 40px;
        }
    }
}

.your_skills {
    padding: 50px 0px;
}

.counters-with-bg-image {
    padding: 0px;
    .layer {
        padding: 50px 0px;
    }
}

.mutipurpose {
    padding: 50px 0px;
    .mutipurpose-text {
        h1 {
            margin-top: 0px;
            font-size: 28px;
        }
    }
}
