.blog-details-page {
    .banner {
        .layer {
            padding: 120px 0px 70px;
            .banner_heading {
                font-size: 30px;
                letter-spacing: 40px;
                margin-left: 30px;
                line-height: 1.5em;
            }
            .gettoknow {
                letter-spacing: 8px;
                margin-left: 0px;
            }
        }
    }
    .blog_post-container.blog_details {
        .blog-gradient-left {
            padding-top: 50px;
            padding-bottom: 50px;
            .icons_comments {
                span {
                    margin: 0 10px 0 5px;
                }
            }
            .blog-details-page-button {
                .btn {
                    margin-right: 30px;
                }
            }
            .blog-details-images {
                margin: 50px 0px 50px;
                .blog_details_featured_post {
                    margin-bottom: 20px;
                    img {
                        width: 100%;
                    }
                    .blog-post-link {
                        padding: 177px 18px;
                    }
                }
            }
            .comments-head {
                letter-spacing: 20px;
            }
            .comments-container {
                margin: 10px auto 15px;
                .comments-list {
                    li {
                        margin-bottom: 0px;
                        padding-bottom: 0px;
                        .comment-avatar {
                            margin-top: 20px;
                            width: 100%;
                            height: auto;
                            img {
                                width: auto;
                                margin-right: 20px;
                            }
                            .comment-head {
                                margin-top: 20px;
                            }
                            span {
                                margin-top: 0;
                                color: #878888;
                                font-family: 'open_sanslight';
                                font-size: 11px;
                                letter-spacing: 0.25em;
                                display: block;
                                line-height: 30px;
                            }
                        }
                        .comment-box {
                            width: 100%;
                            height: auto;
                            margin-top: 0px;
                            .comment-content {
                                .btn-reply {
                                    margin-bottom: 20px;
                                }
                            }
                        }
                        .reply-list {
                            padding-left: 0;
                            li {
                                margin-bottom: 0px;
                                padding-bottom: 0px;
                                .comment-box {
                                    width: 100%;
                                    height: auto;
                                }
                            }
                        }
                    }
                }
            }
            .contact-form {
                margin-top: 50px;
            }
        }
        .blog-gradient-right {
            height: auto !important;
            padding-top: 50px;
            padding-bottom: 20px;
            #imaginary_container {
                width: 430px;
                .stylish-input-group {
                    padding: 0px 0px 20px 0px;
                }
            }
            .blog_recent_post-text {
                padding-top: 0px;
                .blog_recent_post li {
                    padding: 20px 0px 20px;
                }
            }
            .blog-border-responsive {
                border-bottom: 1px solid #f0f0f0;
                padding-bottom: 20px;
                .category,
                .meta {
                    padding-top: 20px;
                }
                .slider_gallery {
                    padding-top: 20px;
                    #blog_slider_gallery {
                        .owl-item {
                            width: 330px !important;
                        }
                        .owl-controls {
                            .owl-buttons {
                                .owl-next {
                                    right: 55px;
                                }
                            }
                        }
                    }
                }
                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
}
