 .home-v2 .home-page-v2-banner {
     img {
         position: relative;
     }
 }
 
 .home-v2 .how-it-works {
     padding: 50px 0px;
     .how-it-works-text {
         h6 {
             line-height: 1.3em;
         }
         h1 {
             font-size: 26px;
             letter-spacing: 15px;
         }
     }
     .v2-services {
         display: flex;
         flex-flow: column;
         margin-top: 0px;
         .responsive-col1-change {
             order: 2;
             padding-bottom: 10px;
             .v2-services-text {
                 text-align: left !important;
                 h6 {
                     line-height: 1.3em;
                 }
             }
         }
         .responsive-col3-change {
             order: 3;
         }
     }
 }
 
 .home-v2 .core-features {
     .layer {
         padding: 50px 0px 0px;
         .features-text {
             margin-bottom: 50px;
             h1 {
                 line-height: 1.3em;
             }
         }
         .features-list {
             .icon {
                 float: left;
                 display: inline-block;
                 margin-right: 20px;
             }
             h1 {
                 margin-top: 0px;
                 display: inline-block;
                 margin-bottom: 20px;
                 letter-spacing: 5px;
             }
             hr {
                 display: none;
             }
         }
     }
 }
 
 .home-v2 .extra-core-features {
     padding: 50px 0px;
     .features-div {
         padding: 0px;
         .features-list {
             .icon {
                 float: left;
                 display: inline-block;
                 margin-right: 20px;
                 margin-bottom: 60px;
             }
             h1 {
                 margin-top: 0px;
                 display: inline-block;
                 margin-bottom: 0px;
             }
             hr {
                 display: none;
             }
         }
     }
     .respons-text-align {
         text-align: center;
     }
 }
 
 .home-v2 .creative-mind {
     padding: 50px 0px;
     .creative-mind-text {
         padding: 50px 0px 0px;
         h1 {
             letter-spacing: 10px;
         }
     }
 }
 
 .home-v2 .free-trial {
     padding: 50px 0px 70px;
     h1 {
         margin-top: 0px;
         letter-spacing: 0px;
     }
 }
 
 .home-v2 .faq {
     padding: 50px 0px;
     .faq-text {
         padding: 60px 10px 60px 10px;
     }
     .panel-group {
         .panel.panel-default {
             .panel-heading {
                 padding-left: 10px;
                 .panel-title {
                     letter-spacing: 0px;
                 }
             }
         }
     }
 }
 
 .home-v2 .home-page-v2-contact {
     .layer {
         padding: 50px 0px;
         .home-page-v2-contact-text {
             h1 {
                 letter-spacing: 20px;
                 line-height: 1.3em;
             }
         }
     }
 }
 
 .home-v2 .counters.counters-with-bg-image {
     padding: 0px !important;
     .layer {
         padding: 50px 0px !important;
     }
 }
