.home-v2 {
    .home-page-v2-banner {
        .image-caption-1 {
            .homev2-banner-head {
                font-size: 40px;
                line-height: 45px;
            }
        }
    }
    .how-it-works {
        padding: 50px 0px;
    }
    .core-features {
        padding: 0px;
        .layer {
            padding: 50px 0px;
            .features-list {
                .icon {
                    /*float: left;
                    margin-right: 20px;*/
                    margin-bottom: 20px;
                }
                h1 {
                    margin-top: 0px;
                    margin-bottom: 10px;
                    line-height: 1.3em;
                    letter-spacing: 5px;
                }
                hr {
                    margin-top: 0px;
                    margin-bottom: 0px;
                }
            }
        }
    }
    .extra-core-features {
        padding: 50px 0px;
        .features-div {
            padding: 120px 0px 0px;
        }
    }
    .creative-mind {
        padding: 50px 0px;
        .creative-mind-text {
            padding: 140px 0px;
        }
    }
    .free-trial {
        padding: 50px 0px 70px;
    }
    .faq {
        padding: 50px 0px;
        .faq-text {
            padding: 147px 30px 147px 30px;
        }
    }
    .home-page-v2-contact {
        .layer {
            padding: 50px 0px;
            .contact-form {
                .respons-float-align {
                    float: left;
                    padding: 0px 25px;
                }
                .contact-button {
                    display: inline-block;
                    text-align: center;
                    .form-group{
                        display: inline-block;
                    }
                }
            }
        }
    }
    .counters-with-bg-image {
        padding: 0px;
        .layer {
            padding: 50px 0px;
        }
    }
}
