.portfolio-page {
    .banner {
        .layer {
            padding: 120px 0px 70px;
            .banner_heading {
                font-size: 40px;
                letter-spacing: 20px;
                line-height: 1.5em;
            }
            .gettoknow {
                letter-spacing: 8px;
                margin-left: 0px;
            }
        }
    }
    .portfolio {
        .filter {
            padding-left: 0px;
            li {
                a {
                    padding: 0 20px 8px;
                }
            }
        }
    }
}
