/*-------------------------------------------------------------------------------
  7. Global Sections - 7.7 Clients
-------------------------------------------------------------------------------*/
.clients{
    padding:100px 0px;
    .owl-logo-carousel{
        margin-top: 30px;
        .item{
            text-align: center;
            border-right: 1px solid #e2e2e2;
            > img{
                display: inline-block;
            }
        }
        .owl-pagination{
               display: none;
        }
    }
}
