/*-------------------------------------------------------------------------------
  7. Global Sections - 7.8 Core Features
-------------------------------------------------------------------------------*/
.core-features {
    background: url("../images/1920x1000.png");
    background-size: 100% 100%;
    padding:0px;
    .layer {
        background-color: rgba(50, 50, 50, 0.8);
        padding: 100px 0px 46px;
        .features-text {
            margin-bottom: 80px;
            h6 {
                color: #f0f0f0;
            }
            h1 {
                color: #f0f0f0;
                letter-spacing: 20px;
            }
            p {
                color: #f0f0f0;
            }
        }
        .features-list {
            .icon {
                font-size: 30px;
                color: #f0f0f0;
                border: 1px solid #fff;
                padding: 16px 19px 10px 19px;
                display: inline-block;
                @include tracking(50);
            }
            h1 {
                color: #fff;
                margin-top: 22px;
                margin-bottom: 8px;
                @include tracking(400);
                line-height: 36px;
            }
            p {
                color: #fff;
                margin-bottom: 50px;
            }
        }
    }
    .layer.core-features-hover {
        .features-list {
            &:hover .icon {
                background: #fff;
                border: 1px solid #000;
                color: #000;
            }
        }
    }
}
