/*-------------------------------------------------------------------------------
  7. Global Sections - 7.2 Counters
-------------------------------------------------------------------------------*/


/* Counters with bg color */

.counters {
    background: #f7f7f7;
    padding: 100px 0px 98px;
    .icon {
        background: $counter_icon_bg;
        border-radius: 50%;
        width: 110px;
        height: 110px;
        display: inline-block;
        font-size: 48px;
        padding: 25px;
        margin-bottom: 30px;
        color: #fff;
    }
    .count-details {
        .count-number {
            color: #323232;
            font-size: 30px;
            font-family: 'oswald_regularregular';
            @include tracking(400);
            display: block;
        }
        .count-name {
            color: #878888;
            font-size: 16px;
            font-family: 'open_sansregular';
        }
    }
}


/* Counters with bg image */

.counters-with-bg-image {
    background: url("../images/1920x410.png") no-repeat;
    padding: 0px;
    background-size: 100% 100% !important;
    .layer {
        background-color: rgba(50, 50, 50, 0.4);
        padding: 100px 0px;
        .count-details {
            .count-number {
                color: #ffffff;
            }
            .count-name {
                color: #ffffff;
            }
        }
    }
}
