/*-------------------------------------------------------------------------------
  7. Global Sections - 7.9 Creative Mind
-------------------------------------------------------------------------------*/
.creative-mind {
    padding: 100px 0px 61px;
    img {
        display: inline-block;
    }
    .creative-mind-text {
        padding: 200px 0px 240px;
        .creative-hr-line {
            border-top: 1px solid $primary_bg;
            width: 80px;
            display: inline-block;
            margin-bottom: 0px;
        }
        h1 {
            font-size: 36px;
            line-height: 48px;
            @include tracking(700);
        }
        h6 {
            color: $primary_bg;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        p {
            line-height: 2.3em;
        }
        .buynow-button {
            .btn-primary {
                margin-right: 26px;
                padding: 0 30px;
            }
        }
    }
}
