/*-------------------------------------------------------------------------------
  7. Global Sections - 7.3 Cta
-------------------------------------------------------------------------------*/

.cta {
    padding: 63px 0;
    background: $buynow_bg;
    .buynow-button {
        margin-top: 10px;
        .btn-default {
            border: 2px solid #fff;
            
            margin-top: 0px;
        }
    }
}

.cta.cta-gray-bg {
    background: #f0f0f0;
    .buynow-text {
        h1 {
            font-size: 40px;
            color: #777;
        }
    }
    .buynow-button {
        .btn-gray-buynow {
            margin-top: 0px;
        }
    }
}
