/*-------------------------------------------------------------------------------
  7. Global Sections - 7.11 Faq
-------------------------------------------------------------------------------*/
.faq {
    padding: 100px 0px 73px;
    h1{
        margin-top:0px;
        margin-bottom: 28px;
    }
    .panel-group {
        .panel.panel-default {
            border-radius: 0px;
            margin-bottom: 11px;
            .panel-heading {
                background: transparent;
                border-radius: 0px;
                padding-left: 30px;
                &.active {
                    background-color: $primary_bg;
                    color: #fff;
                    a {
                        color: #fff;
                        line-height: 30px;
                    }
                }
            }
            .panel-body{
                padding: 15px 25px 15px 30px;
            }
        }
    }
    .faq-text {
        background: $primary_bg;
        padding: 110px;
        .btn.btn-next{
            @include tracking(200);
        }
    }
}
