/*-------------------------------------------------------------------------------
  7. Global Sections - 7.27 Footer
-------------------------------------------------------------------------------*/
.footer {
    background: #323232;
    padding-top: 100px;
    .foote-btm {
        padding-bottom: 70px;
        .booss-details {
            margin-top: 20px;
        }
        .latest-news-list {
            margin-top: 10px;
            .latest-news {
                padding: 32px 0px 25px;
                border-bottom: 1px solid #3b3b3b;
                img {
                    margin-right: 20px;
                    margin-bottom: 10px;
                }
                h6 {
                    margin: 0px;
                    a {
                        font-size: 14px;
                        color: #fff;
                        @include tracking(50);
                        line-height: 1.3em;
                    }
                }
                .footer-meta {
                    color: #797979;
                    font-family: 'open_sanslight';
                    @include tracking(20);
                    font-size: 9px;
                    a {
                        color: #797979;
                        &:hover {
                            text-decoration: underline;
                            color: #fff;
                        }
                    }
                }
                &:last-child {
                    border: none;
                }
            }
        }
        .subscribe-details {
            margin-top: 40px;
            .subscribe-email {
                .form-control {
                    background: transparent;
                    color: #3b3b3b;
                    border-radius: 0px;
                    height: 50px;
                    border: 1px solid #3b3b3b;
                    padding-left: 30px;
                    z-index: 0 !important;
                    &::-webkit-input-placeholder {
                        /* Chrome/Opera/Safari */
                        color: #555;
                    }
                    &::-moz-placeholder {
                        /* Firefox 19+ */
                        color: #555;
                    }
                    &:-ms-input-placeholder {
                        /* IE 10+ */
                        color: #555;
                    }
                    &:-moz-placeholder {
                        /* Firefox 18- */
                        color: #555;
                    }
                }
                .input-group-addon {
                    background: transparent;
                    color: #fff;
                    font-family: 'oswald_regularregular';
                    letter-spacing: 0px;
                    border-radius: 0px;
                    border: 1px solid #3b3b3b;
                    cursor: pointer;
                }
            }
        }
        .footer-image-girds {
            margin-top: 40px;
            a {
                float: left;
                img {
                    margin: 0px 7px 10px 0px;
                    width: 85px;
                }
                .mrg-r-none {
                    margin-right: 0px;
                }
            }
        }
    }
    /* ----- 7.27.1 Copy Rights --- */
    .copyright-container {
        background: #2a2a2a;
        padding: 30px 0px;
        .copyrights {
            a {
                color: #797979;
                cursor: pointer;
            }
        }
        .footer-social-icons {
            display: block;
            text-align: right;
            .footer-icon-link {
                background: #323232;
                border-radius: 50%;
                width: 35px;
                height: 35px;
                display: inline-block;
                color: #777;
                font-size: 16px;
                margin-right: 10px;
                text-align: center;
                .fa {
                    padding: 10px 0px;
                }
                &:hover {
                    color: #fff;
                    &.facebook {
                        background: #3b5998;
                    }
                    &.twitter {
                        background: #4099ff;
                    }
                    &.google-plus {
                        background: #d34836;
                    }
                }
            }
        }
    }
}
