/*-------------------------------------------------------------------------------
  7. Global Sections - 7.13 Free Trail
-------------------------------------------------------------------------------*/
.free-trial {
    background: #f7f7f7;
    padding: 135px 0px 151px;
}
