/*-------------------------------------------------------------------------------
  7. Global Sections - 7.1 Header
-------------------------------------------------------------------------------*/

.header {
    .top-container {
        margin-top: 40px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        /* 7.1.1 Menu */
        .navbar-primary.affix-top,
        .navbar-primary.affix {
            .navbar-collapse {
                .nav {
                    &.navbar-nav {
                        >li {
                            margin-right: 10px;
                            padding: 0 20px;
                            >a {
                                padding-bottom: 5px;
                                padding-left: 0px;
                                padding-right: 0px;
                                padding-top: 5px;
                            }
                            a {
                                color: #fff;
                                @include tracking(250);
                                font-family: 'oswald_regularregular';
                                -webkit-transition: .3s ease-in-out;
                                -o-transition: .3s ease-in-out;
                                transition: .3s ease-in-out;
                                &:hover,
                                &:focus {
                                    background: transparent;
                                }
                            }
                            &:hover,
                            &:focus,
                            &.active {
                                background: $header_menu_bg;
                            }
                            &.dropdown.open {
                                >a {
                                    border-bottom: 2px solid #FFF;
                                }
                                a {
                                    padding-bottom: 5px !important;
                                    background: transparent;
                                    &:hover,
                                    &:focus {
                                        background: transparent;
                                    }
                                }
                                .dropdown-menu {
                                    background: #fff;
                                    box-shadow: none;
                                    border-radius: 0px;
                                    border: none;
                                    padding: 0px;
                                    padding-top: 0px;
                                    margin-top: 13px;
                                    padding-bottom: 10px;
                                    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
                                    li {
                                        margin-right: 0px;
                                        a {
                                            -webkit-transition: none !important;
                                            -o-transition: none !important;
                                            transition: none !important;
                                            padding: 10px 15px;
                                            color: #000 !important;
                                            &:hover,
                                            &:focus {
                                                background: $header_menu_bg;
                                                color: $primary_bg;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &.underline {
                            >li {
                                background: transparent;
                                >a {
                                    &:hover,
                                    &:focus {
                                        background: transparent;
                                    }
                                }
                                &:hover,
                                &:focus,
                                &.active {
                                    >a {
                                        border-bottom: 2px solid #FFF;
                                        padding-bottom: 5px !important;
                                    }
                                }
                                &.dropdown.open {
                                    li {
                                        padding: 0 15px !important;
                                        a {
                                            padding: 10px 0 !important;
                                            color: #000 !important;
                                            &:hover,
                                            &:focus {
                                                background: transparent;
                                                color: $primary_bg !important;
                                            }
                                        }
                                        &:hover>a,
                                        &:focus>a,
                                        &.active>a {
                                            border-bottom: 2px solid $primary_bg !important;
                                            padding-bottom: 8px !important;
                                        }
                                        &::before {
                                            content: '';
                                            position: absolute;
                                            left: 0;
                                            top: 27px;
                                            width: 0;
                                            border-top: 2px solid #fff;
                                            -webkit-transition: .3s ease-in-out;
                                            -o-transition: .3s ease-in-out;
                                            transition: .3s ease-in-out;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            /* 7.1.2 Responsive Menu */
            .navbar-toggle {
                border: 1px solid #fff;
                background: tranparent;
                margin-bottom: 0px;
                margin-top: 2px;
                .icon-bar {
                    background: #fff;
                }
            }
        }
        .navbar-primary.affix {
            top: 0px;
            left: 0px;
            right: 0px;
            /*background: #B6B6B6;*/
            background: #fff;
            padding: 0px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            .navbar-header {
                padding: 10px;
                padding-left: 0px;
                .logo-image {
                    .logo-hover {
                        display: inline-block;
                    }
                    .logo-normal,
                    span {
                        display: none;
                    }
                }
            }
            .navbar-collapse {
                .navbar-nav {
                    >li {
                        >a {
                            color: #000 !important;
                            padding-top: 20px !important;
                            &:hover,
                            &:focus,
                            {
                                color: $primary_bg !important;
                                border-bottom: 2px solid $primary_bg !important;
                            }
                        }
                        &.active a {
                            color: $primary_bg !important;
                            border-bottom: 2px solid $primary_bg !important;
                        }
                        &::before {
                            content: '';
                            position: absolute;
                            left: 0;
                            top: 27px;
                            width: 0;
                            border-top: 2px solid #fff;
                            -webkit-transition: .3s ease-in-out;
                            -o-transition: .3s ease-in-out;
                            transition: .3s ease-in-out;
                        }
                    }
                }
            }
            .navbar-toggle {
                border: 1px solid #000 !important;
                .icon-bar {
                    background: #000 !important;
                }
            }
        }
        .search-icon:hover a {
            border-bottom: none !important;
        }
    }
}
