/*-------------------------------------------------------------------------------
  7. Global Sections - 7.15 Home Page Banner
-------------------------------------------------------------------------------*/

.home-page-v2-banner {
    .v2-banner {
        position: absolute;
        width: 100%;
    }
    .image-caption-1 {
        display: table;
        margin: 0 auto;
        vertical-align: middle;
        .banner-caption {
            vertical-align: middle;
            display: table-cell;
        }
    }
}
