/*-------------------------------------------------------------------------------
  7. Global Sections - 7.17 Multipurpose WP 
-------------------------------------------------------------------------------*/ 
.mutipurpose {
     background: #f7f7f7;
     padding: 100px 0;
     .mutipurpose-text {
         .btn {
             padding: 0 25px;
         }
     }
 }
 
.mutipurpose.multipurpose-orange-bg {
     background: url("../images/1920x1280.png") no-repeat;
     background-size: 100% 100%;
     padding: 0px;
     .layer {
         background-color: rgba(226, 119, 99, 0.8);
         padding: 100px 0;
         h1 {
             color: #ffffff;
             margin-top: 75px;
         }
         p {
             color: #ffffff;
         }
     }
 }
