/*-------------------------------------------------------------------------------
  7. Global Sections - 7.4 Portfolio
-------------------------------------------------------------------------------*/

.portfolio {
    padding: 100px 0px;
    #porfolio-nav {
        display: none;
    }
    .grid {
        margin-top: 30px;
        margin-bottom: 30px;
        .gutter-sizer {
            width: 30px;
        }
        .grid-sizer {
            width: 22%;
        }
        .grid-item {
            padding: 0;
            .image-holder {
                overflow: hidden;
                img {
                    /*&.big{
                        width:540px;
                    }
                    width:255px; */
                    -webkit-transition: .3s linear;
                    -o-transition: .3s linear;
                    transition: .3s linear;
                }
            }
            figcaption {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                padding: 20px;
                overflow: hidden;
                -webkit-transition: .3s linear;
                -o-transition: .3s linear;
                transition: .3s linear;
                .showcase-lead {
                    position: absolute;
                    opacity: 0;
                    left: 20px;
                    right: 20px;
                    top: 50%;
                    text-align: center;
                    -webkit-transform: translate(0, -50%);
                    -ms-transform: translate(0, -50%);
                    -o-transform: translate(0, -50%);
                    transform: translate(0, -50%);
                    .showcase-category {
                        -webkit-transition: .3s linear;
                        -o-transition: .3s linear;
                        transition: .3s linear;
                        opacity: 0;
                        position: relative;
                        top: -50px;
                        text-transform: uppercase;
                        @include tracking(400);
                        line-height: 36px;
                    }
                    span {
                        font-family: 'open_sanslight';
                        font-size: 11px;
                        color: #fff;
                        @include tracking(250);
                        line-height: 30px;
                        -webkit-transition: .3s linear;
                        -o-transition: .3s linear;
                        transition: .3s linear;
                        opacity: 0;
                        position: relative;
                        top: 50px;
                        margin: 0;
                        display: block;
                    }
                    .showcase-cntrls {
                        -webkit-transition: .3s linear;
                        -o-transition: .3s linear;
                        transition: .3s linear;
                        margin-top: 22px;
                        opacity: 0;
                        position: relative;
                        top: -30px;
                        display: inline-block;
                        a.icon-round {
                            i {
                                color: #fff;
                                font-size: 24px;
                            }
                        }
                    }
                }
                .dripicons-heart {
                    position: absolute;
                    opacity: 0;
                    left: 20px;
                    right: 20px;
                    top: 95%;
                    text-align: right;
                    -webkit-transform: translate(0, -50%);
                    -ms-transform: translate(0, -50%);
                    -o-transform: translate(0, -50%);
                    transform: translate(0, -50%);
                    font-size: 24px;
                    color: #fff;
                    padding-bottom: 10px;
                }
            }
            &:hover figcaption {
                background-color: rgba(42, 42, 42, 0.8);
                .showcase-category,
                span,
                .showcase-cntrls {
                    opacity: 1;
                    top: 0;
                    left: 0;
                }
            }
            &:hover .showcase-lead {
                opacity: 1;
            }
            &:hover .dripicons-heart {
                opacity: 1;
            }
            &:hover img {
                -webkit-transform: scale(1.3) rotateZ(-7deg);
                -ms-transform: scale(1.3) rotateZ(-7deg);
                -o-transform: scale(1.3) rotateZ(-7deg);
                transform: scale(1.3) rotateZ(-7deg);
            }
            &:hover figcaption:after {
                width: 100%;
            }
        }
    }
}
