/*-------------------------------------------------------------------------------
  7. Global Sections - 7.19 Service Core Feature
-------------------------------------------------------------------------------*/
.services_first_part.third_part {
    padding: 100px 0px;
    .services_first_three_part {
        .creative_idea {
            border: 1px solid #f0f0f0;
            padding: 50px 20px 53px;
            h1 {
                margin-bottom: 15px;
                margin-top: 15px;
                @include tracking(400);
            }
            a {
                text-decoration: none;
                >i {
                    font-size: 50px;
                    border: none;
                    color: #ccc;
                }
            }
            &:hover i {
                color: #e27763;
            }
        }
    }
}
