/*-------------------------------------------------------------------------------
  7. Global Sections - 7.22 Video
-------------------------------------------------------------------------------*/
.video-background {
    background: url("../images/1920x800.png");
    background-size: auto 100% !important;
    background-position: center center !important;
    .layer {
        padding: 316px 0px 306px;
        .video {
            ul {
                padding-left: 0px;
                li {
                    display: inline-block;
                    border: 2px solid #fff;
                    border-radius: 50%;
                    padding: 22px;
                    -webkit-transform: translateZ(0);
                    -ms-transform: translateZ(0);
                    transform: translateZ(0);
                    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                    >a {
                        width: 120px;
                        height: 120px;
                        border-radius: 50%;
                        border: 2px solid $primary_bg;
                        font-size: 30px;
                        color: #f5f5f5;
                        line-height: 33px;
                        text-align: center;
                        display: inline-block;
                        background: $primary_bg;
                        padding-top: 40px;
                        box-shadow: 1px 0px 0px 11px rgba(226, 119, 99, 0.56);
                        -moz-box-shadow: 1px 0px 0px 11px rgba(226, 119, 99, 0.56);
                        -webkit-box-shadow: 1px 0px 0px 11px rgba(226, 119, 99, 0.56);
                        -o-box-shadow: 1px 0px 0px 11px rgba(226, 119, 99, 0.56);
                        cursor: pointer;
                    }
                    &:hover {
                        -webkit-animation-name: pulse;
                        animation-name: pulse;
                        -webkit-animation-duration: 1s;
                        animation-duration: 1s;
                        -webkit-animation-timing-function: linear;
                        animation-timing-function: linear;
                        -webkit-animation-iteration-count: infinite;
                        animation-iteration-count: infinite;
                    }
                }
            }
        }
        .modal-dialog {
            .modal-body {
                padding: 0px;
                .embed-responsive-16by9 {
                    padding-bottom: 43%;
                    margin: 0 -15px;
                }
            }
        }
    }
    &.video-bg-2 {
        background: url("../images/1920x800.png");
        background-repeat: no-repeat;
        .layer {
            padding: 260px 0px 240px;
            background-color: rgba(50, 50, 50, 0.7);
            h1 {
                color: #fff;
                font-size: 36px;
                margin-top: 60px;
            }
        }
    }
}
