/*-------------------------------------------------------------------------------
  7. Global Sections - 7.24 Work Process
-------------------------------------------------------------------------------*/
.work_process {
    background: #f7f7f7;
    padding: 100px 0px 85px;
    .work_process_text {
        margin-bottom: 50px;
        h1 {
            margin-bottom: 0;
        }
        h6 {
            margin-top: 0;
        }
    }
    .work_process_order {
        .work-process-prof {
            width: 90%;
            position: absolute;
            margin-top: -90px;
            .work-process-title {
                font-weight: bold;
            }
        }
        img {
            display: inline-block;
        }
        .services-heading {
            @include tracking(400);
            line-height: 36px;
            margin-top: 23px;
            margin-bottom: 8px;
        }
    }
}
