/*-------------------------------------------------------------------------------
  7. Global Sections - 7.25 Your Skills
-------------------------------------------------------------------------------*/
.your_skills {
    background: #f7f7f7;
    padding: 100px 0px 80px;
    h1 {
        margin-bottom: 30px;
        margin-top: 0px;
    }
    p {
        line-height: 2.1em;
    }
    .your_skills_percentage_loader {
        margin-top: 0px;
        .progress-text {
            color: #323232;
            font-size: 14px;
            font-family: 'open_sansregular';
        }
        .progress {
            box-shadow: none;
            height: 15px;
            border-radius: 0;
            padding: 4px 4px;
            border: 1px solid #f0f0f0;
            background: #fcfcfc;
            margin-top: 10px;
            margin-bottom: 30px;
            .skill {
                color: #323232;
                font-size: 14px;
                font-family: 'open_sansregular';
                position: absolute;
                margin-top: -32px;
                margin-left: -15px;
            }
            .progress-color {
                position: relative;
                background: #e27763;
            }
        }
    }
}
