.home-v3 {
    .home-page-v2-banner {
        .image-caption-1 {
            .v4-banner-text-area {
                text-align: left;
                .homev3-banner-head {
                    font-size: 40px;
                    text-align: left;
                }
                hr {
                    display: inline-block;
                    margin-top: 10px;
                }
                .xs-btn {
                    text-align: left;
                }
            }
        }
    }
    .about_what_we_do {
        padding: 50px 0px;
        .what_we_do_points {
            .creative_design {
                margin-bottom: 20px;
            }
        }
    }
    .how-it-works {
        padding: 50px 0px;
        .v2-services {
            .v2-services-text {
                padding-top: 0px;
                h6 {
                    line-height: 1.4em;
                    margin-top: 0px;
                }
            }
        }
    }
    .extra-core-features {
        padding: 50px 0px 50px;
        .features-div {
            padding: 20px;
        }
        .respons-text-align {
            text-align: center;
        }
    }
    .creative-mind {
        padding: 50px 0px 50px;
        .creative-mind-text {
            padding: 0px;
            h1 {
                letter-spacing: 15px;
            }
        }
    }
    .faq {
        padding: 50px 0px;
        .faq-text {
            padding: 50px 130px 50px 130px;
        }
        .panel-group {
            margin-bottom: 40px;
        }
    }
    .free-trial {
        padding: 50px 0px 70px;
    }
    .home-page-v2-contact {
        .layer {
            padding: 50px 0px;
        }
    }
    .counters-with-bg-image {
        padding: 0px;
        .layer {
            padding: 50px 0px;
        }
    }
    .your_skills {
        padding: 50px 0px;
        .your_skills_percentage_loader {
            margin-top: 20px;
        }
    }
    .mutipurpose {
        padding: 50px 0px;
    }
}
