.home-v3 {
    .home-page-v2-banner {
        img {
            position: relative;
        }
        .image-caption-1 {
            height: auto;
        }
    }
    .about_what_we_do {
        padding: 50px 0px;
        .what_we_do_points {
            .creative_design {
                margin-bottom: 20px;
            }
        }
    }
    .how-it-works {
        padding: 50px 0px;
        .how-it-works-text {
            h1 {
                font-size: 26px;
                letter-spacing: 15px;
            }
        }
        .v2-services {
            display: flex;
            flex-flow: column;
            margin-top: 0px;
            .responsive-col1-change {
                order: 2;
                padding-bottom: 10px;
                .v2-services-text {
                    text-align: left !important;
                }
            }
            .responsive-col3-change {
                order: 3;
            }
        }
    }
    .extra-core-features {
        padding: 50px 0px;
        .features-div {
            padding: 0px;
            .features-list {
                .icon {
                    float: left;
                    display: inline-block;
                    margin-right: 20px;
                    margin-bottom:60px;
                }
                h1 {
                    margin-top: 0px;
                    display: inline-block;
                    margin-bottom: 0px;
                }
                hr {
                    display: none;
                }
            }
        }
        .respons-text-align{
            text-align: center;
        }
    }
    .creative-mind {
        padding: 50px 0px;
        .creative-mind-text {
            padding: 50px 0px 0px;
            h1 {
                letter-spacing: 10px;
            }
        }
    }
    .faq {
        padding: 50px 0px;
        .faq-text {
            padding: 60px 10px 60px 10px;
        }
        .panel-group {
            .panel.panel-default {
                .panel-heading {
                    padding-left: 10px;
                    .panel-title {
                        letter-spacing: 0px;
                    }
                }
            }
        }
    }
    .free-trial {
        padding: 50px 0px 70px;
        h1 {
            margin-top: 0px;
            letter-spacing: 0px;
        }
    }
    .home-page-v2-contact {
        .layer {
            padding: 50px 0px;
            .home-page-v2-contact-text {
                h1 {
                    letter-spacing: 20px;
                    line-height: 1.3em;
                }
            }
        }
    }
    .counters-with-bg-image {
        padding: 0px;
        .layer {
            padding: 50px 0px;
        }
    }
    .meet-our-team{
        .team-text{
            h1{
                letter-spacing: 23px;
            }
        }
    }
    .your_skills {
        padding: 50px 0px;
        h1 {
            line-height: 1.3em;
            margin-top: 0px;
        }
        .your_skills_percentage_loader{
            margin-top:20px;
        }
    }
    .mutipurpose {
        padding: 50px 0px;
        h1 {
            line-height: 1.3em;
            letter-spacing: 13px;
        }
    }
}
