.home-v3 {
    .home-page-v2-banner {
        .image-caption-1 {
            .homev3-banner-head {
                font-size: 40px;
            }
        }
    }
    .about_what_we_do.about_what_we_do_border {
        padding: 50px 0px;
    }
    .how-it-works {
        padding: 50px 0px;
    }
    .extra-core-features {
        padding: 50px 0px;
        .features-div {
            padding: 90px 0px 20px;
        }
    }
    .creative-mind {
        padding: 50px 0px;
        .creative-mind-text {
            padding: 150px 0px;
        }
    }
    .faq {
        padding: 50px 0px;
        .faq-text {
            margin-top: 0px;
            padding: 125px 30px 125px 30px;
        }
    }
    .free-trial {
        padding: 50px 0px 70px;
    }
    .home-page-v2-contact {
        .layer {
            padding: 50px 0px;
            .contact-form {
                .respons-float-align {
                    float: left;
                    padding: 0 25px;
                }
                .contact-button {
                    display: inline-block;
                    text-align: center;
                    .form-group {
                        display: inline-block;
                    }
                }
            }
        }
    }
    .counters-with-bg-image {
        padding: 0px;
        .layer {
            padding: 50px 0px;
        }
    }
    .mutipurpose {
        .mutipurpose-text {
            h1 {
                font-size: 28px;
                margin-top: 0px;
            }
        }
    }
}
