.about_page {
    .banner {
        .layer {
            padding: 100px 0px;
            .blog-text {
                h1 {
                    font-size: 50px;
                    letter-spacing: 40px;
                }
            }
        }
    }
    .about_what_we_do {
        padding: 50px 0px 0px;
    }
    .work_process {
        padding: 50px 0px 0px;
        .work_process_order {
            p {
                margin-bottom: 40px;
            }
        }
    }
    .your_skills {
        padding: 50px 0px;
        .your_skills_percentage_loader {
            margin-top: 20px;
        }
    }
    .counters {
        padding: 0px;
        .layer {
            padding: 50px 0px;
        }
    }
    .mutipurpose {
        padding: 50px 0px;
    }
}
