.home-v4 {
    .home-page-v2-banner {
        .image-caption-1 {
            .homev4-banner-head {
                span {
                    font-size: 60px;
                }
            }
            p{
                display: none;
            }
            img{
                display: none;
            }
            .homev4-banner-sub-head {
                letter-spacing: 10px;
            }
        }
    }
    .about_what_we_do {
        padding: 50px 0px;
    }
    .how-it-works {
        padding: 50px 0px;
        .v2-services {
            .v2-services-text {
                padding-top: 60px;
            }
            .image-number {
                margin-top: 0px;
                top: 60px;
                left: 50px;
            }
            .image-number-right-align {
                top: 60px;
                right: 50px;
            }
            .number-top-hr {
                margin-bottom: 30px;
            }
            hr {
                margin-top: 30px;
            }
            .image::before,
            .shadow-image-right::before {
                top: 20px;
                height: 265px;
            }
        }
    }
    .core-features {
        .layer {
            padding: 50px 0px;
            .features-div {
                padding: 90px 0px;
            }
        }
    }
    .extra-core-features {
        .features-div {
            .features-list {
                h1 {
                    margin-bottom: 10px;
                }
            }
        }
    }
    .creative-mind {
        padding: 50px 0px;
        .creative-mind-text {
            padding: 150px 0px;
        }
    }
    .free-trial {
        padding: 50px 0px 70px;
    }
    .faq {
        padding: 50px 0px;
        .faq-text {
            padding: 125px 30px 125px 30px;
        }
    }
    .home-page-v2-contact {
        .layer {
            padding: 50px 0px;
            .respons-float-align {
                float: left;
                padding: 0px 25px;
            }
            .contact-button {
                display: inline-block;
                text-align: center;
                .form-group {
                    display: inline-block;
                }
            }
        }
    }
    .counters-with-bg-image {
        padding: 0px;
        .layer {
            padding: 50px 0px;
        }
    }
    .mutipurpose {
        padding: 50px 0px;
        h1 {
            margin-top: 0px;
            font-size: 28px;
        }
    }
}
