.home-v4 {
    .home-page-v2-banner {
        .image-caption-1 {
            img {
                display: none;
            }
            .homev4-banner-head {
                span {
                    font-size: 60px;
                }
            }
            h1{
                margin-top:0px;
            }
            h6 {
                font-size: 28px;
                letter-spacing: 10px;
            }
            p{
                display: none;
            }
        }
    }
    .how-it-works {
        padding: 50px 0px;
        .v2-services {
            .image::before,
            .shadow-image-right::before {
                display: none;
            }
            .v2-services-text {
                padding-top: 0px;
                h6 {
                    margin-top: 0px;
                }
            }
        }
    }
    .core-features {
        .layer {
            padding: 50px 0px;
            .features-div {
                padding: 0px;
                .homev4-para {
                    margin-bottom: 50px;
                }
            }
            .core-image-aling {
                text-align: center;
            }
        }
    }
    .about_what_we_do {
        padding: 50px 0px 20px;
        .what_we_do_points {
            .creative_design {
                margin-bottom: 20px;
            }
        }
    }
    .extra-core-features {
        .extra-core-features-image {
            padding-right: 0px;
            img {
                height: auto !important;
            }
        }
        .features-div {
            padding-top: 40px;
            padding-bottom: 0px;
        }
    }
    .creative-mind {
        padding: 50px 0px;
        .creative-mind-text {
            padding: 0px;
            h1 {
                letter-spacing: 10px;
            }
        }
    }
    .free-trial {
        padding: 50px 0px 70px;
    }
    .faq {
        padding: 50px 0px;
        .faq-text {
            padding: 50px 130px 50px 130px;
        }
        .panel-group {
            margin-bottom: 40px;
        }
    }
    .home-page-v2-contact {
        .layer {
            padding: 50px 0px;
        }
    }
    .counters-with-bg-image {
        padding: 0px;
        .layer {
            padding: 50px 0px;
        }
    }
    .your_skills {
        padding: 50px 0px;
        .your_skills_percentage_loader {
            margin-top: 20px;
        }
    }
    .mutipurpose {
        padding: 50px 0px;
        
    }
}
