.banner {
    .layer {
        padding: 100px 0px;
    }
}

.contact {
    padding: 50px 0px 30px;
    .contact-form {
        padding-bottom: 20px;
        .btn.btn-primary {
            margin-top: 0px;
            margin-bottom: 30px;
        }
    }
    .conatct-address {
        ul {
            li {
                .icon {
                    margin-bottom: 20px;
                }
            }
        }
    }
}
