.home-v5 {
    .top-container {
        padding-bottom: 0px;
    }
    .home-page-v2-banner {
        .image-caption-1 {
            h6 {
                font-size: 20px;
            }
            h1 {
                font-size: 50px;
            }
        }
        img {
            position: relative;
        }
    }
    .how-it-works {
        padding: 50px 0px;
    }
    .booss-demos {
        padding: 50px 0px 10px;
        .booss-demo-img-text {
            margin-top: 40px;
            margin-bottom: 30px;
        }
    }
    .work_process {
        .layer {
            padding: 50px 0px 0px;
            .work-process-title {
                margin-top: 10px;
            }
            .work_process_order {
                p {
                    margin-bottom: 40px;
                }
                .work-process-prof {
                    margin-top: -85px;
                }
            }
        }
    }
    .extra-core-features {
        padding: 50px 0px;
        .features-div {
            padding: 0px;
            h6,
            h1 {
                line-height: 1.3em;
            }
            .features-list {
                .icon {
                    float: left;
                    display: inline-block;
                    margin-right: 20px;
                    margin-bottom: 60px;
                }
                h1 {
                    margin-top: 0px;
                    display: inline-block;
                    margin-bottom: 0px;
                    letter-spacing: 0.3em !important;
                }
                .home2-hr {
                    display: none;
                }
            }
        }
        .respons-text-align {
            text-align: center;
        }
    }
    .promo-box {
        .layer {
            padding: 50px 0px;
            .creative-text {
                h1 {
                    letter-spacing: 5px;
                    font-size: 55px;
                    margin-top: 20px;
                }
            }
        }
    }
    .extra-core-features.extra-second-core-feature {
        .features-div.feature-second-div {
            padding: 50px 0px 0px;
        }
        img {
            display: inline-block;
        }
    }
    .counters-with-bg-image {
        padding: 0px;
        .layer {
            padding: 50px 0px;
        }
    }
    .services_first_part.third_part {
        padding: 50px 0px;
        .creative_idea {
            margin-bottom: 20px;
        }
    }
    .video-background {
        .layer {
            padding: 100px 0px;
            .video {
                h1 {
                    letter-spacing: 0.5em !important;
                    margin-top: 20px;
                    font-size: 20px;
                }
            }
        }
    }
    .testimonials.testimonials-bg-color {
        .layer {
            #testimonial-slider {
                .owl-controls {
                    .owl-pagination {
                        width: 100%;
                    }
                }
            }
        }
    }
    .your_skills {
        padding: 50px 0px;
        .your_skills_percentage_loader {
            margin-top: 20px;
        }
    }
    .mutipurpose {
        .layer {
            padding: 50px 0 20px;
            img {
                width: 100%;
            }
            .mutipurpose-text {
                h1 {
                    margin-top: 0;
                    letter-spacing: 15px;
                    line-height: 1.3em;
                }
            }
        }
    }
    .creative_content {
        padding: 50px 0 20px;
        .servive_creative_content-text {
            h6,
            h1 {
                line-height: 1.3em;
            }
        }
        img {
            margin-bottom: 30px;
            width: 100%;
        }
    }
    .cta.cta-gray-bg {
        padding: 50px 0px;
        .buynow-text {
            h1 {
                font-size: 38px;
            }
        }
    }
    .footer {
        .foote-btm {
            padding-bottom: 50px;
        }
    }
}
