/*-------------------------------------------------------------------------------
  7. Global Sections - 7.12 Creative Concepts
-------------------------------------------------------------------------------*/
.creative_content {
    padding: 100px 0;
    h6 {
        margin-top: 0;
    }
    p {
        margin-bottom: 43px;
        text-align: justify;
        max-width: 1055px;
    }
}
