/*-------------------------------------------------------------------------------
  7. Global Sections - 7.10 Extra Core Features
-------------------------------------------------------------------------------*/
.extra-core-features {
    padding: 100px 0px 98px;
    .features-div {
        padding: 116px 0px 55px;
        .features-list {
            .icon {
                font-size: 30px;
                color: $primary_bg;
                border: 1px solid $primary_bg;
                padding: 16px 19px 10px 19px;
                display: inline-block;
                @include tracking(50);
            }
            h1 {
                margin-top: 22px;
                margin-bottom: 8px;
                @include tracking(400);
                line-height: 36px;
            }
            p {
                margin-bottom: 50px;
            }
        }
    }
    .features-div.extra-core-features-hover {
        .features-list {
            &:hover {
                .icon {
                    background: $primary_bg;
                    color: #fff;
                    border: 1px solid darken($primary_bg, 9%);
                }
                h1 {
                    color: $primary_bg;
                }
            }
        }
    }
    img {
        display: inline-block;
    }
}
