/*-------------------------------------------------------------------------------
  7. Global Sections - 7.14 Free Trail Signup Form
-------------------------------------------------------------------------------*/
.home-page-v2-contact {
    background: url("../images/1920x1080.png");
    background-size: 100% 100%;
    .layer {
        background-color: rgba(50, 50, 50, 0.8);
        padding: 170px 0px 142px;
        .home-page-v2-contact-text {
            h6 {
                color: #f0f0f0;
            }
            h1 {
                color: #fff;
            }
            p {
                color: #f0f0f0;
                margin-bottom: 30px;
            }
        }
        .contact-form {
            .form-group{
                margin-left: -7px !important;
                margin-right: -7px !important;
            }
            .form-control {
                margin-top: 20px;
                margin-bottom: 10px;
                background: transparent;
                border: 1px solid rgba(234, 234, 234, 0.1);
                border-radius: 0px;
                font-family: 'open_sanslight';
                font-size: 14px;
                height: 50px;
                padding-left: 30px;
                box-shadow: none !important;
                color: #fff;
                line-height: 30px;
                &::-webkit-input-placeholder {
                    /* Chrome/Opera/Safari */
                    color: #fff;
                    font-family: 'open_sansregular';
                    line-height: 30px;
                }
                &::-moz-placeholder {
                    /* Firefox 19+ */
                    color: #fff;
                    font-family: 'open_sansregular';
                    line-height: 30px;
                }
                &:-ms-input-placeholder {
                    /* IE 10+ */
                    color: #fff;
                    font-family: 'open_sansregular';
                    line-height: 30px;
                }
                &:-moz-placeholder {
                    /* Firefox 18- */
                    color: #fff;
                    font-family: 'open_sansregular';
                    line-height: 30px;
                }
            }
            span {
                color: $primary_bg;
                font-family: 'open_sanslight';
                font-size: 14px;
                padding: 5px;
            }
            .btn-primary {
                width: 100%;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            p {
                padding-left: 30px;
                margin-top: 0px;
                color: #999;
                span {
                    color: $primary_bg;
                    font-family: 'open_sanslight';
                    font-size: 14px;
                    padding: 5px;
                    a {
                        color: $primary_bg;
                    }
                }
            }
        }
    }
}
