/*-------------------------------------------------------------------------------
  7. Global Sections - 7.16 How it Works  
-------------------------------------------------------------------------------*/
.how-it-works {
    padding: 100px 0px;
    .how-it-works-text {
        h6 {
            color: #777;
        }
    }
    .v2-services {
        margin-top: 50px;
        
        .services-order {
            padding-top: 70px;
            span {
                font-family: 'oswaldlight';
                font-size: 30px;
                color: #e27763;
                border: 1px solid #f0f0f0;
                border-radius: 50%;
                padding: 20px;
                letter-spacing: 0px;
                padding-top: 22px;
            }
            hr {
                border-top: 1px solid #f0f0f0;
                width: 60px;
                webkit-transform: rotate(270deg);
                -moz-transform: rotate(270deg);
                -ms-transform: rotate(270deg);
                -o-transform: rotate(270deg);
                transform: rotate(270deg);
                margin-top: 55px;
            }
        }
        .v2-services-text {
            padding-top: 50px;
            h6 {
                @include tracking(400);
                margin-bottom: 14px;
                font-family: 'open_sansregular';
                
            }
            h1 {
                margin-bottom: 16px;
                @include tracking(700);
                line-height: 36px;
            }
        }
    }
}
