/*-------------------------------------------------------------------------------
  7. Global Sections - 7.18 Pricing Plan
-------------------------------------------------------------------------------*/ 
.pricing-plan {
    padding: 100px 0px;
    background: #f7f7f7;
    .plan {
        background: #fff;
        padding: 40px 20px 40px 20px;
        margin-top: 30px;
        &.plan-active {
            background: #323232;
            .plan-name {
                border-bottom: 1px solid #3a3a3a;
                h6 {
                    color: #fff;
                }
            }
            .plan-price {
                color: #fff;
                display: block;
                margin-bottom: 10px;
            }
            .plan-duration {
                color: #fff;
            }
            hr {
                border-top: 3px solid $primary_bg;
            }
        }
    }
    .plan-name {
        padding-bottom: 47px;
        border-bottom: 1px solid #e9e9e9;
        hr {
            border-top: 3px solid $primary_bg;
            height: 4px;
            width: 60px;
            display: block;
            margin-top: 25px;
            margin-bottom: 8px;
        }
    }
    .plan-price {
        font-size: 60px;
        font-family: 'open_sansbold';
        color: #323232;
        display: block;
        margin-bottom: 10px;
    }
    .plan-duration {
        font-family: 'robotoregular';
        color: #999;
        font-size: 16px;
    }
    .plan-details {
        padding: 45px 0px 30px 0px;
        li {
            font-size: 14px;
            line-height: 48px;
            color: #878888;
            & .dripicons-checkmark {
                color: $pricing_facheck_color;
            }
            & .dripicons-cross {
                color: $princing_fa-times_color;
            }
        }
    }
}

.pricing-plan.pricing-plan-orange {
    background: none;
    .plan {
        border: 3px solid #f5f5f5;
        &.plan-active {
            background: $primary_bg;
            border: 2px solid darken($primary_bg, 7%);
            .plan-name h6,
            .plan-price,
            .plan-duration {
                color: #fff;
            }
            .plan-name {
                border-bottom: 1px solid darken($primary_bg, 7%);
                .orange-hr {
                    border-top: 3px solid darken($primary_bg, 7%);
                }
            }
            .plan-details {
                padding: 40px 0px 30px 0px;
                li {
                    color: #fff;
                    & .dripicons-checkmark {
                        color: #fff;
                    }
                    & .dripicons-cross {
                        color: #fff;
                    }
                }
            }
        }
    }
    .plan-name {
        border-bottom: 1px solid #f0f0f0;
        .orange-hr {
            border-top: 3px solid $primary_bg;
        }
    }
}
