/*-------------------------------------------------------------------------------
  7. Global Sections - 7.20 Sub Page Banner
-------------------------------------------------------------------------------*/

.banner {
    background: url("../images/1920x480.png") no-repeat;
    background-size: 100% 100%;
    .layer{
        padding: 245px 0px 135px 0px;
        background:  rgba(50, 50, 50, 0.1)
    }
}