/*-------------------------------------------------------------------------------
  7. Global Sections - 7.21 Sub Page Widget
-------------------------------------------------------------------------------*/

#imaginary_container {
    .input-group.stylish-input-group {
        .input-group-addon {
            background: white !important;
            color: #e8e8e8;
            border-radius: 0;
            border-color: #e8e8e8;
        }
        .form-control {
            z-index: 0;
            border-right: 0 !important;
            border: 1px solid #e8e8e8;
            border-radius: 0;
            padding: 6px 25px;
            height: 45px;
            box-shadow: none;
            &::-webkit-input-placeholder {
                color: #ccc;
                font-style: normal;
                font-size: 14px;
                color: #e8e8e8;
            }
            &:-moz-placeholder {
                color: #ccc;
                font-style: normal;
                font-size: 14px;
                color: #e8e8e8;
            }
            &::-moz-placeholder {
                color: #ccc;
                font-style: normal;
                font-size: 14px;
                color: #e8e8e8;
            }
            &:-ms-input-placeholder {
                color: #ccc;
                font-style: normal;
                font-size: 14px;
                color: #e8e8e8;
            }
        }
        button {
            border: 0;
            background: transparent;
        }
    }
}

.blog_recent_post-text {
    padding-top: 60px;
    .services-heading {
        font-size: 14px;
        letter-spacing: 10px;
    }
    .blog_recent_post {
        padding-left: 0px;
        li {
            padding: 20px 0px 30px;
            border-bottom: 1px solid #f0f0f0;
            .recent_post_link {
                color: #323232;
                font-family: 'oswaldlight';
                letter-spacing: 4px;
                line-height: 1.8;
                list-style: none;
                border-bottom: 1px solid #eee;
                img {
                    margin-right: 10px;
                    margin-bottom: 10px;
                }
            }
            h6 {
                a {
                    &:hover {
                        text-decoration: underline !important;
                    }
                }
            }
            span {
                color: #797979;
                font-family: 'open_sansregular';
                font-size: 9px;
                margin-bottom: 0px;
                @include tracking(150);
                line-height: 30px;
                a {
                    color: #797979;
                    &:hover {
                        text-decoration: underline !important;
                        color: #797979;
                    }
                }
            }
        }
        li:last-child {
            border-bottom: none;
        }
    }
}

.category {
    padding-top: 27px;
    
    .blog_recent_post {
        padding-left: 0px;
        li {
            border-bottom: 1px solid #eee;
            a {
                color: #323232;
                font-family: 'oswaldlight';
                font-size: 12px;
                @include tracking(400);
                line-height: 60px;
            }
            &:hover a {
                color: $primary_bg;
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }
}

.slider_gallery {
    padding-top: 27px;
    
    .blog_recent_post_head {
        letter-spacing: 10px;
    }
    #blog_slider_gallery {
        margin-top: 20px;
        .owl-item {
            width: 270px !important;
        }
        .owl-controls {
            .owl-buttons {
                .owl-prev,
                .owl-next {
                    position: absolute;
                    top: 40%;
                    background: #ffffff;
                    color: #b7b7b7;
                    width: 40px;
                    height: 40px;
                    font-size: 20px;
                    line-height: 40px;
                    text-shadow: none;
                    border-radius: 0;
                    padding: 0px 10px;
                    &:hover {
                        border-color: 1px solid #e27763;
                        background: #e27763;
                        color: #ffffff;
                    }
                }
                .owl-prev {
                    left: -5px;
                }
                .owl-next {
                    right: -5px;
                }
            }
            .owl-pagination {
                display: none;
            }
        }
    }
}

.meta {
    padding-top: 27px;
    
    .blog_recent_post {
        padding-left: 0px;
        li {
            border-bottom: 1px solid #eee;
            a {
                color: #323232;
                font-family: 'oswaldlight';
                font-size: 12px;
                @include tracking(400);
                line-height: 60px;
            }
            &:hover a {
                color: $primary_bg;
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }
}

.bg6 {
    width: 73px;
    border-top: 1px solid #e27763;
    display: inline-block;
    margin: 0px;
}
