/*-------------------------------------------------------------------------------
  7. Global Sections - 7.5 Meet Our Team
-------------------------------------------------------------------------------*/

.meet-our-team {
    padding: 100px 0px;
    .owl-controls {
        display: none !important;
    }
    .item {
        position: relative;
        overflow: hidden;
        margin-top: 40px;
        .team-content {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            padding: 170px 18px;
            transform: translateX(-100%);
            transition: all 0.20s ease 0s;
            .team-designation {
                font-size: 11px;
                color: #FFF;
                display: block;
                margin-bottom: 25px;
                font-family: 'open_sanslight';
                text-align: center;
                @include tracking(50);
                font-weight: bold;
                line-height: 30px;
            }
        }
        &:hover .team-content {
            transform: translateY(0);
            background: rgba(42, 42, 42, 0.5);
        }
        .team_contact {
            text-align: center;
            padding-left: 0px;
            >li {
                display: inline-block;
                margin-right: 5px;
                border: 1px solid #e27763;
                border-radius: 50%;
                padding: 3px;
                >a {
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    border: 2px solid #e27763;
                    font-size: 24px;
                    color: #f5f5f5;
                    line-height: 33px;
                    text-align: center;
                    display: inline-block;
                    transition: border 0.3s ease 0s;
                    background: #e27763;
                    padding-top: 15px;
                    &:hover {
                        background: darken($primary_bg, 5%);
                    }
                }
            }
        }
        .team-prof {
            width: 100%;
            position: absolute;
            bottom: 0;
            text-align: right;
            padding: 40px 16px;
            background: rgba(42, 42, 42, 0.4);
            transform: translateX(0);
            transition: all 0.20s ease 0s;
            .team-title {
                font-size: 16px;
                color: #fff;
                margin: 0 0 8px 0;
                text-transform: uppercase;
                font-family: 'oswald_regularregular';
                text-align: center;
                @include tracking(400);
                margin-bottom: 0px;
                font-weight: bold;
            }
            .team-designation {
                font-size: 11px;
                color: #fff;
                margin-bottom: 0;
                font-family: 'open_sanslight';
                text-align: center;
                display: block;
                @include tracking(50);
                font-weight: bold;
                line-height: 30px;
            }
        }
        &:hover .team-prof {
            transform: translateX(100%);
        }
    }
}
