/*-------------------------------------------------------------------------------
  7. Global Sections - 7.6 Testimonials
-------------------------------------------------------------------------------*/


/* Testimonials with black layer bg */

.testimonials {
    background: url("../images/1920x600.png") no-repeat;
    background-size: 100% 100%;
    .layer {
        background-color: rgba(50, 50, 50, 0.7);
        padding: 131px 0px;
        #testimonial-slider {
            .testimonial {
                margin: 20px 0;
                .testimonial-content {
                    width: 20%;
                    display: inline-block;
                    float: left;
                    .pic {
                        border-bottom: 1px solid #fff;
                        display: inline-block;
                        width: 30px;
                        img {
                            border-radius: 50%;
                            margin-bottom: 30px;
                            border: 1px solid #fff;
                        }
                    }
                    .title {
                        font-size: 16px;
                        color: #fff;
                        font-family: 'oswald_regularregular';
                        display: block;
                        @include tracking(400);
                        margin-top: 30px;
                        line-height: 30px;
                    }
                    .post {
                        font-size: 11px;
                        color: #fff;
                        font-family: 'open_sanslight';
                        @include tracking(50);
                        line-height: 30px;
                    }
                }
                .description {
                    display: inline-block;
                    width: 80%;
                    padding-left: 10px;
                    padding-right: 10px;
                    font-size: 30px;
                    color: #fff;
                    margin: 0;
                    position: relative;
                    font-family: 'open_sanslight_italic';
                    line-height: 48px;
                }
            }
            .owl-controls {
                margin-top: 40px;
                .owl-pagination {
                    text-align: left;
                    margin-top: 20px;
                    .owl-page {
                        span {
                            background: $global_hr_bg;
                            background-position: -175px -21px;
                        }
                        &.active span {
                            background: $global_hr_bg;
                            background-position: -130px -39px;
                        }
                    }
                }
                .owl-buttons {
                    .owl-prev,
                    .owl-next {
                        position: absolute;
                        top: 39%;
                        opacity: inherit;
                        border-radius: 0px;
                    }
                    .owl-prev {
                        background: $global_hr_bg;
                        background-position: -3px -89px;
                        font-size: 25px;
                        left: -260px;
                        width: 63px;
                        height: 65px;
                        &:hover {
                            background: $global_hr_bg;
                            background-position: -3px -162px;
                        }
                    }
                    .owl-next {
                        background: $global_hr_bg;
                        background-position: -69px -88px;
                        font-size: 25px;
                        right: -260px;
                        width: 63px;
                        height: 65px;
                        &:hover {
                            background: $global_hr_bg;
                            background-position: -70px -161px;
                        }
                    }
                }
            }
        }
    }
}


/* Testimonials with orange layer bg */

.testimonials.testimonials-orange-bg {
    background: url("../images/1920x600.png") no-repeat;
    background-size: 100% 100%;
    .layer {
        background: rgba(226, 119, 99, 0.9);
        #testimonial-slider {
            .testimonial {
                margin-top: 70px;
            }
            .owl-controls {
                .owl-pagination {
                    text-align: center;
                    width: 173px;
                    .owl-page {
                        span {
                            background: $global_hr_bg;
                            background-position: -175px -39px;
                            width: 12px;
                            height: 12px;
                            opacity: 1;
                        }
                        &.active span {
                            background: $global_hr_bg;
                            background-position: -130px -39px;
                        }
                    }
                }
                .owl-buttons {
                    .owl-prev {
                        background: $global_hr_bg;
                        background-position: -142px -184px;
                        &:hover {
                            background: $global_hr_bg;
                            background-position: -3px -162px;
                        }
                    }
                    .owl-next {
                        background: $global_hr_bg;
                        background-position: -209px -183px;
                        &:hover {
                            background: $global_hr_bg;
                            background-position: -70px -161px;
                        }
                    }
                }
            }
        }
    }
}


/* Testimonials with bg color */

.testimonials.testimonials-bg-color {
    background: #f7f7f7;
    .layer {
        background: #f7f7f7;
        #testimonial-slider {
            .testimonial {
                .testimonial-content {
                    .pic {
                        border-bottom: none;
                        width: auto;
                        img {
                            border: 4px solid #e27763;
                        }
                    }
                    .title {
                        color: #323232;
                    }
                    .post {
                        color: #777;
                        font-family: 'robotothin';
                    }
                }
                .description {
                    color: #878888;
                }
            }
            .owl-controls {
                .owl-pagination {
                    text-align: center;
                    width: 173px;
                    .owl-page {
                        span {
                            background: $global_hr_bg;
                            background-position: -145px -21px;
                            width: 12px;
                            height: 12px;
                            opacity: 1;
                        }
                        &.active span {
                            background: $global_hr_bg;
                            background-position: -129px -21px;
                        }
                    }
                }
                .owl-buttons {
                    .owl-prev,
                    .owl-next {
                        width: 68px;
                        height: 45px;
                    }
                    .owl-prev {
                        background: $global_hr_bg;
                        background-position: -139px -77px;
                        left: -180px;
                        &:hover {
                            background: $global_hr_bg;
                            background-position: -139px -127px;
                        }
                    }
                    .owl-next {
                        background: $global_hr_bg;
                        background-position: -210px -78px;
                        right: -180px;
                        &:hover {
                            background: $global_hr_bg;
                            background-position: -210px -128px;
                        }
                    }
                }
            }
        }
    }
}
