/*-------------------------------------------------------------------------------
  7. Global Sections - 7.26 Validation
-------------------------------------------------------------------------------*/
.has-error .form-control{
    border-color: #a94442 !important;
}
.has-success .form-control {
    border-color: #3c763d !important;
}
.form-control-feedback{
    margin-top: 5px;
    z-index: 0 !important;
}

