/*-------------------------------------------------------------------------------
  7. Global Sections - 7.23 What We Do
-------------------------------------------------------------------------------*/
.about_what_we_do {
    padding: 100px 0px 35px;
    .about_what_we_do-text {
        margin-bottom: 50px;
        h1 {
            margin-bottom: 0;
        }
        h6 {
            margin-top: 0;
        }
    }
    .what_we_do_points {
        .creative_design {
            h1 {
                margin-top: 40px;
                margin-bottom: 15px;
                @include tracking(400);
                line-height: 36px;
            }
            p {
                margin-bottom: 65px;
            }
            a {
                text-decoration: none;
                >i {
                    margin-left: 8px;
                    text-align: center;
                    background: #ffffff;
                    color: $primary_bg;
                    width: 70px;
                    height: 70px;
                    font-size: 28px;
                    line-height: 0px;
                    transition: border 0.3s ease 0s;
                    border: 1px solid $primary_bg;
                    padding: 19px 5px 0px 5px;
                    display: inline-block;
                    &:before {
                        position: relative;
                        padding: 30px 0px 0px 18px;
                        border: 1px solid #f0f0f0;
                        margin-top: -30px !important;
                        display: inline-block !important;
                        margin-left: -20px;
                        width: 70px;
                        height: 70px;
                    }
                }
            }
            &:hover {
                a {
                    >.icon {
                        &:before {
                            border: 1px solid $primary_bg;
                        }
                        border: 1px solid $primary_bg;
                        background: $primary_bg;
                        color: #ffffff;
                    }
                }
                h1{
                    color: $primary_bg;
                }
            }
        }
    }
}

.about_what_we_do.about_what_we_do_border {
    padding: 100px 0px;
    .what_we_do_points {
        .creative_design {
            border: 1px solid #f0f0f0;
            padding: 68px 20px 45px;
            p {
                margin-bottom: 0px;
            }
        }
    }
}
