.services_page {
    .about_what_we_do.about_what_we_do_border {
        padding: 50px 0px 30px;
    }
    .promo-box {
        .layer {
            padding: 186px 0px;
        }
    }
    .services_first_part.third_part {
        padding: 50px 0px 20px;
        .services_first_three_part {
            .creative_idea {
                margin-bottom: 30px;
            }
        }
    }
    .mutipurpose.multipurpose-orange-bg {
        .layer {
            padding:50px 0px;
            h1 {
                margin-top: 0px;
                font-size: 28px;
            }
        }
    }
    .cta {
        .buynow-button {
            .btn-default {
                margin-top: 25px;
            }
        }
    }
    .creative_content {
        padding: 50px 0px;
        img {
            margin-bottom: 20px;
            width: 100%;
        }
    }
}
