.services_page {
    .banner {
        .layer {
            padding: 120px 0px 70px;
            h1 {
                letter-spacing: 10px;
            }
            h6 {
                margin-left: 0px;
            }
        }
    }
    .about_what_we_do {
        padding: 50px 0px 20px;
        .what_we_do_points {
            .creative_design {
                margin-bottom: 30px;
            }
        }
    }
    .services_first_part.third_part {
        padding: 50px 0px 20px;
        .creative_idea {
            margin-bottom: 30px;
        }
    }
    .promo-box {
        .layer {
            padding: 40px 0px;
        }
    }
    .mutipurpose {
        .layer {
            padding: 50px 0px 20px;
            h1 {
                letter-spacing: 13px;
                margin-top: 30px;
            }
        }
    }
    .creative_content {
        padding: 50px 0px 20px;
        .servive_creative_content-text {
            h1 {
                line-height: 1.3em;
            }
        }
        img {
            margin-bottom: 20px;
            width: 100%;
        }
    }
}
