.portfolio-page {
    .banner {
        .banner_heading {
            font-size: 40px;
            letter-spacing: 30px;
        }
    }
    .portfolio {
        .filter {
            li {
                a {
                    padding: 0 30px 8px;
                }
            }
        }
    }
}
