.home-v5 {
    .top-container {
        padding-bottom: 0px;
    }
    .home-page-v2-banner {
        .image-caption-1 {
            
            h6 {
                font-size: 20px;
            }
            h1 {
                font-size: 50px;
                line-height: 70px;
            }
            p{
                display: none;
            }
            .hr-bg.bg5 {
                margin: 10px 0px 10px;
            }
        }
    }
    .how-it-works {
        padding: 50px 0px;
        .how-it-works-text {
            h1 {
                letter-spacing: 0.8em;
            }
        }
    }
    .booss-demos {
        padding: 50px 0px 10px;
    }
    .work_process {
        .layer {
            padding: 50px 0px;
            .work_process_order {
                p {
                    margin-bottom: 20px;
                }
            }
        }
    }
    .extra-core-features {
        padding: 50px 0px 40px;
        .features-div {
            padding: 0px;
        }
        .respons-text-align {
            text-align: center;
        }
    }
    .promo-box {
        .layer {
            padding: 60px 0px;
            .creative-text {
                h1 {
                    letter-spacing: 26px;
                }
                h6 {
                    letter-spacing: 0.5em;
                }
            }
        }
    }
    .extra-core-features.extra-second-core-feature {
        .features-div.feature-second-div {
            padding: 50px 0px 0px;
        }
        img {
            display: inline-block;
        }
    }
    .counters-with-bg-image {
        padding: 0px;
        .layer {
            padding: 50px 0px;
        }
    }
    .services_first_part.third_part {
        padding: 50px 0px;
        .creative_idea {
            margin-bottom: 20px;
        }
    }
    .video-background {
        .layer {
            .video {
                h1 {
                    letter-spacing: 0.5em;
                }
            }
        }
    }
    .testimonials.testimonials-bg-color {
        .layer {
            #testimonial-slider {
                .owl-controls {
                    .owl-pagination {
                        width: 108px;
                    }
                }
            }
        }
    }
    .your_skills {
        padding: 50px 0px;
        .your_skills_percentage_loader {
            margin-top: 20px;
        }
    }
    .mutipurpose {
        .layer {
            padding: 50px 0 20px;
            h1 {
                margin-top: 0;
            }
        }
    }
    .creative_content {
        padding: 50px 0 20px;
        img {
            margin-bottom: 30px;
        }
    }
    .cta.cta-gray-bg {
        padding: 50px 0px;
        .buynow-text {
            h1 {
                font-size: 38px;
            }
        }
    }
}
