.home-v5 {
    .top-container {
        padding-bottom: 0px;
    }
    .home-page-v2-banner {
        .image-caption-1 {
            
            h1 {
                font-size: 70px;
            }
        }
    }
    .how-it-works {
        padding: 50px 0px;
    }
    .booss-demos {
        padding: 50px 0px 10px;
    }
    .work_process {
        .layer {
            padding: 50px 0px;
        }
    }
    .extra-core-features {
        padding: 50px 0px 40px;
        .feature-second-div {
            padding: 80px 0px 0px;
        }
    }
    .extra-core-features {
        .features-div {
            .features-list-text {
                h1 {
                    letter-spacing: 0.8em !important;
                }
            }
        }
    }
    .promo-box {
        .layer {
            padding: 60px 0px;
            .creative-text {
                h1 {
                    font-size: 80px;
                    letter-spacing: 60px;
                }
            }
        }
    }
    .extra-core-features.extra-second-core-feature {
        .features-div.feature-second-div {
            padding: 90px 0px 0px;
            .features-list h1 {
                letter-spacing: 3px;
            }
        }
    }
    .counters-with-bg-image {
        padding: 0px;
        .layer {
            padding: 50px 0px;
        }
    }
    
    .services_first_part.third_part {
        padding: 50px 0px;
        .creative_idea {
            margin-bottom: 20px;
        }
    }
    .your_skills {
        padding: 50px 0px;
    }
    .mutipurpose {
        .layer {
            padding: 50px 0 20px;
        }
        .mutipurpose-text {
            h1 {
                margin-top: 6px;
                font-size: 28px;
            }
        }
    }
    .creative_content {
        padding: 50px 0;
        img {
            margin-bottom: 30px;
            width: 100%;
        }
    }
}
