.blog-details-page {
    .blog_post-container.blog_details {
        .blog-gradient-left {
            .blog-details-page-button {
                .btn {
                    min-width: 180px;
                }
            }
            .blog-details-images {
                .blog_details_featured_post {
                    .blog-post-link {
                        padding: 98px 18px;
                    }
                }
            }
            .comments-container {
                .comments-list {
                    li {
                        .comment-box {
                            width: 510px;
                            float: right;
                        }
                        .reply-list {
                            li {
                                .comment-box {
                                    width: 410px;
                                    float: right;
                                }
                            }
                        }
                    }
                }
            }
        }
        .blog-gradient-right {
            .slider_gallery {
                #blog_slider_gallery {
                    .owl-item {
                        width: 293px !important;
                    }
                    .owl-controls {
                        .owl-buttons {
                            .owl-next {
                                right: 18px;
                            }
                        }
                    }
                }
            }
            &::before {
                display: none !important;
            }
        }
    }
}
