.blog-details-page {
    .banner {
        .layer {
            padding: 100px 0px;
        }
    }
    .blog_post-container.blog_details {
        .blog-gradient-left {
            padding-top: 50px;
            padding-bottom: 50px;
            .comments-container {
                .comments-list {
                    li {
                        .comment-box {
                            width: 610px;
                            float: right;
                        }
                        .reply-list {
                            li {
                                .comment-box {
                                    width: 520px;
                                    float: right;
                                }
                            }
                        }
                    }
                }
            }
        }
        .blog-gradient-right {
            height: auto !important;
            padding-top: 50px;
            padding-bottom: 50px;
            #imaginary_container {
                width: 400px;
                .stylish-input-group {
                    padding: 0px 0px 20px 0px;
                }
            }
            .blog_recent_post-text {
                padding-top: 0px;
                .blog_recent_post {
                    li {
                        padding: 20px 0px 30px;
                    }
                }
            }
            .slider_gallery {
                #blog_slider_gallery {
                    .owl-item {
                        width: 345px !important;
                    }
                    .owl-controls {
                        .owl-buttons {
                            .owl-next {
                                right: 70px;
                            }
                        }
                    }
                }
            }
            .category {
                padding-top: 0px;
            }
            .blog-responsive {
                clear: both;
            }
        }
    }
}
