.services_page {
    .banner{
        .layer{
            padding: 100px 0px;
            h1{
                letter-spacing: 40px;
                font-size: 50px;
            }
        }
    }
    .about_what_we_do {
        padding: 50px 0px 30px;
        .what_we_do_points {
            .creative_design {
                margin-bottom: 20px;
            }
        }
    }
    .services_first_part.third_part {
        padding: 50px 0px 30px;
            .creative_idea {
                margin-bottom: 20px;
            }
    }
    .promo-box{
        .layer{
            padding: 186px 0px;
        }
    }
    .mutipurpose.multipurpose-orange-bg{
        .layer{
            padding: 50px 0px;
            .mutipurpose-text{
                h1{
                    margin-top:20px;
                }
            }
        }
        
    }
    .cta{
        .buynow-text {
            h1 {
                font-size: 38px;
            }
        }
    }
    .creative_content {
        padding: 50px 0px;
        .servive_creative_content-text{
            h1{
                letter-spacing: 20px;
            }
        }
        img {
            margin-bottom: 20px;
            width: 100%;
        }
    }
}