.our-history {
    padding: 40px 0px;
    .history-text {
        padding-top: 50px;
    }
}

.counters {
    padding: 30px 0px 30px;
    .icon {
        margin-top: 20px;
        display: block;
        float: left;
        margin-right: 20px;
    }
    .count-details {
        .count-number {
            display: block;
            text-align: left;
            margin-top: 40px;
            margin-bottom: 0px;
        }
        .count-name {
            display: block;
            text-align: left;
        }
    }
}

.services {
    padding: 0px 0px 50px;
    .homev1-services {
        display: flex;
        flex-flow: column;
        .responsive-col1-change {
            order: 1;
            .services-text {
                padding-top: 40px;
                text-align: left;
            }
        }
        .service-mediaquery {
            order: 2;
            img {
                margin-top: 20px;
            }
        }
    }
}

.promo-box {
    .layer {
        padding: 25px 0px;
        h6.creative-sub-heading {
            letter-spacing: 3px;
            line-height: 1.7em;
        }
        h1.creative-head {
            letter-spacing: 10px;
            font-size: 55px;
            margin-top:20px;
            margin-bottom:0px;
        }
        .creative-media-btn {
            text-align: center;
            
        }
    }
}

.portfolio {
    padding: 40px 0px;
    .portfolio-text {
        h6 {
            line-height: 1.5em;
        }
        h1 {
            line-height: 1.3em;
            letter-spacing: 20px;
        }
    }
}

.cta {
    padding: 40px 0px 40px;
    .buynow-text {
        margin-bottom: 30px;
        text-align: center;
    }
    .buynow-button {
        text-align: center;
    }
}

.meet-our-team {
    padding: 40px 0px;
    .item {
        margin-right: 0px;
        >img {
            width: 100%;
        }
        .team-content {
            padding: 210px 18px;
            .team-title {
                font-size: 20px;
            }
            .team-designation {
                font-size: 13px;
            }
        }
    }
}

.testimonials {
    .layer {
        padding: 50px 0px;
        #testimonial-slider {
            .testimonial {
                margin-top: 0px;
                .testimonial-content {
                    width: 100%;
                    margin-bottom: 20px;
                }
                .pic {
                    display: block;
                    float: left;
                    margin-right: 20px;
                    border-bottom: none;
                }
                .description {
                    width: 100%;
                    line-height: 1.3em;
                    text-align: justify;
                }
                .title {
                    display: block;
                    margin-top: 30px;
                    text-align: left;
                }
                .post {
                    display: block;
                    text-align: left;
                }
            }
            .owl-controls {
                text-align: center;
                margin-top: 0px;
                .owl-prev,
                .owl-next {
                    display: none;
                }
                .owl-pagination {
                    position: relative;
                    bottom: 0px;
                    text-align: center;
                }
            }
        }
    }
}

.blog-post {
    padding: 40px 0px;
    .item {
        margin-left: 0px;
        .blog-content {
            padding: 40px 48px;
            .blog-subhead{
                margin-bottom: 10px;
            }
            .blog-title{
                font-size: 14px;
                margin-top:0px;
                letter-spacing: 0.2em;
                margin-bottom:0px;
            }
        }
    }
}

.pricing-plan {
    padding: 40px 0px;
    .plan-text {
        h1 {
            font-size: 25px;
            letter-spacing: 20px;
        }
    }
}

.video-background {
    .layer {
        padding: 100px 0px;
        .video {
            ul {
                li {
                    a {
                        width: 60px;
                        height: 60px;
                        font-size: 25px;
                        padding-top: 15px;
                    }
                }
            }
        }
    }
}

.clients {
    padding: 40px 0px;
}

.get-in-touch {
    .contactus-image {
        padding-right: 0px;
        img {
            height: auto !important;
        }
    }
    .contact-text {
        padding: 50px 0px 20px;
    }
    .contact-form {
        margin-top: 0px;
        padding-bottom: 50px;
        .form-group {
            margin-right: 0px !important;
            margin-bottom: 0px;
            .form-control {
                margin-bottom: 20px;
            }
        }
    }
}

.footer {
    padding-top: 40px;
    .footer-responsive-media {
        border-bottom: 1px solid #3b3b3b;
    }
    .booss-details {
        margin-bottom: 30px;
    }
    h6.creative-sub-heading {
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .latest-news-list {
        .latest-news {
            padding: 10px 0px 30px;
        }
        .last-latest-news {
            margin-bottom: 30px;
            padding: 10px 0px 10px;
        }
    }
    .footer-image-girds {
        margin-top: 30px;
        padding-bottom: 40px;
        img {
            width: 93px !important;
            margin: 0px 8px 12px 6px !important;
        }
    }
    .subscribe-details {
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .copyright-container {
        padding: 40px 0px 40px;
        .copyrights {
            text-align: center;
            margin-bottom: 10px;
        }
        .footer-social-icons {
            text-align: center;
        }
    }
}
