/*-------------------------------------------------------------------------------
  1. Global | 1.5 Site Loader
-------------------------------------------------------------------------------*/

.loader {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    color: #fff;
    text-align: center;
    .loader-brand {
        position: absolute;
        left: 0;
        width: 100%;
        top: calc(50% - 25px);
        min-height: 300px;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%);
        svg {
            width: 100%;
            height: 250px;
            font-size: 170px;
        }
        .text {
            fill: none;
            stroke-width: 5;
            stroke-linejoin: round;
            stroke-dasharray: 70 330;
            stroke-dashoffset: 0;
            -webkit-animation: stroke 6s infinite linear;
            animation: stroke 6s infinite linear;
        }
        .text:nth-child(5n + 1) {
            stroke: $primary_bg;
            -webkit-animation-delay: -1.2s;
            animation-delay: -1.2s;
        }
        .text:nth-child(5n + 2) {
            stroke: #b6b6b6;
            -webkit-animation-delay: -2.4s;
            animation-delay: -2.4s;
        }
        .text:nth-child(5n + 3) {
            stroke: $primary_bg;
            -webkit-animation-delay: -3.6s;
            animation-delay: -3.6s;
        }
        .text:nth-child(5n + 4) {
            stroke: #b6b6b6;
            -webkit-animation-delay: -4.8s;
            animation-delay: -4.8s;
        }
        .text:nth-child(5n + 5) {
            stroke: $primary_bg;
            -webkit-animation-delay: -6s;
            animation-delay: -6s;
        }
        @-webkit-keyframes stroke {
            100% {
                stroke-dashoffset: -400;
            }
        }
        @keyframes stroke {
            100% {
                stroke-dashoffset: -400;
            }
        }
    }
}